@model LateRegistrationViewModel
@{ 
    ViewData["Title"] = "Edit Late Registration Configuration"; 
}

<section id="data-table-form-v1" class="row">
    <div class="col-lg-12">
        <div class="block block--underline">
            <form class="ks-form container" asp-controller="LateRegistrationConfiguration" asp-action="Edit" method="post">
                @Html.AntiForgeryToken()
                <div class="block__title text-left height-3">
                    <header>@ViewData["Title"]</header>
                </div>

                <div class="block__body text-left height-3">
                    <div class="row form-group">
                        <div class="col-3">
                            <select class="chosen-select form-control js-cascade-academic-level" asp-for="AcademicLevelId" asp-items="ViewBag.AcademicLevels">
                                <option selected disabled>Select</option>
                            </select>
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col-4">
                            <select class="chosen-select form-control js-cascade-term" asp-for="FromTermId" asp-items="ViewBag.Terms">
                                <option selected disabled>Select</option>
                            </select>
                            <label>From Term<span class="text-danger">*</span></label>
                        </div>
                        <div class="col-4">
                            <select class="chosen-select form-control js-cascade-term-not-disable" asp-for="ToTermId" asp-items="ViewBag.Terms">
                                <option selected>Select</option>
                            </select>
                            <label>ToTerm</label>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-4">
                            <input class="form-control" asp-for="Amount" type="number" min="0">
                            <label>Amount<span class="text-danger">*</span></label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-check">
                            <input class="form-check-input" asp-for="IsActive" type="checkbox">
                            <label for="IsActive">Active</label>
                        </div>
                    </div>
                </div>

                <input name="returnUrl" type="hidden" value="@ViewBag.ReturnUrl">
                <input name="Id" type="hidden" asp-for="Id">
                <input name="returnUrl" type="hidden" value="@ViewBag.ReturnUrl">

                <div class="block__action container">
                    <div class="block__action-row">
                        <button type="submit" class="btn btn-mw-120 btn--primary">Save</button>
                        <a class="btn btn-mw-120 btn--cancel" href="@ViewBag.ReturnUrl">Cancel</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>

@section Scripts {
    <script type="text/javascript" src="~/js/pages/late-registration.js"></script>
}