@model PagedResult<CoordinatorViewModel>
@{
    ViewData["Title"] = "Coordinator";
    var recordNumber = Model?.FirstRowOnPage;
}

<section class="row">
    <div class="ks-page-header col-12">
        <h2 class="ks-page-header__title">@ViewData["Title"]</h2>
    </div>
</section>

<section class="row">
    <div class="col-12">
        <div class="block block--underline">
            <div class="block__title">
                <header>Search Coordinator with Course</header>
            </div>

            <div class="block__body">
                <form class="form-horizontal" asp-controller="Coordinator" asp-action="Index" method="GET">
                    @Html.AntiForgeryToken()
                    <div class="row form-group">
                        <div class="col-2">
                            <select class="chosen-select form-control js-cascade-academic-level" asp-for="Criteria.AcademicLevelId" asp-items="@ViewBag.AcademicLevels">
                                <option selected disabled>Select</option>
                            </select>
                            <label>Academic Level<span class="text-danger">*</span></label>
                        </div>
                        <div class="col-2">
                            <select class="chosen-select form-control js-cascade-term" asp-for="Criteria.TermId" asp-items="@ViewBag.Terms">
                                <option selected disabled>Select</option>
                            </select>
                            <label>Term<span class="text-danger">*</span></label>
                        </div>
                        <div class="col-2">
                            <input class="form-control" asp-for="Criteria.CodeAndName" type="text">
                            <label>Course</label>
                        </div>
                        <div class="col-3">
                            <input class="form-control" asp-for="Criteria.FirstName" type="text">
                            <label>Coordinator Name</label>
                        </div>
                        <div class="col-3 align-self-end text-right">
                           <button class="btn btn-mw-120 btn--primary mb-0 m-r-5" type="submit">
                                <i class="la la-search mr-2"></i>Search
                            </button>
                            <button class="btn btn-mw-120 btn--reset mb-0 js-reset-btn" type="reset">
                                Reset
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

<section class="row">
    <div class="col-12">
        <div class="block block--underline">
            <div class="block__title">
                <header>Search Result (@(Model?.RowCount ?? 0))</header>
                @if (Model != null && Model?.Criteria?.TermId != 0)
                {
                    <div class="tools pr-4">
                        <a class="btn btn--primary btn-mw-120 mb-0" 
                           asp-controller="Coordinator"
                           asp-route-AcademicLevelId="@Model?.Criteria?.AcademicLevelId"
                           asp-route-TermId="@Model?.Criteria?.TermId"
                           asp-action="Manage"> 
                            <i class="la la-plus mr-1"></i> Add Coordinator
                        </a>
                    </div>
                }
            </div>

            <div class="block__body">
                <div class="table-responsive">
                    <table class="table table-bordered text-uppercase m-0">
                        <thead>
                            <tr>
                                <th class="text-center w-25">#</th>
                                <th>Code</th>
                                <th>Name</th>
                                <th>Coordinator</th>
                                <th class="text-center">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model != null && Model.Results.Any())
                            {
                                foreach (var item in Model.Results)
                                {
                                    
                                    <tr>
                                        <td>@recordNumber</td>
                                        <td>@item.CourseCode</td>
                                        <td>@item.CourseName</td>
                                        <td>
                                            <partial name="_StringLoop" model="@item.Instructors.Select(x => x.FullNameEn).ToList()" />
                                        </td>
                                        <td class="text-nowrap td-actions">
                                            <a asp-controller="Coordinator"
                                               asp-action="Manage"
                                               asp-route-AcademicLevelId="@item.AcademicLevelId"
                                               asp-route-TermId="@item.TermId"
                                               asp-route-CourseId="@item.CourseId">
                                                <i class="la la-edit edit"></i>
                                            </a>
                                            <a href="#!" 
                                               data-toggle="modal" 
                                               data-target="#delete-confirm-modal"
                                               data-controller="Coordinator"
                                               data-action="Delete"
                                               data-value="?termId=@item.TermId&courseId=@item.CourseId">
                                                <i class="la la-trash delete"></i>
                                            </a>
                                        </td>
                                    </tr>
                                    recordNumber++;
                                }
                            } 
                            else 
                            {
                                <tr>
                                    <td class="text-center" colspan="5">
                                        No Data
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        @(await Component.InvokeAsync<PagerViewComponent>(Model))
    </div>
</section>

@section Modals {
    <partial name="_DeleteConfirmModals" />
}