@model PagedResult<AdmissionDocumentGroup>
@{ 
    ViewData["Title"] = "Admission Document Group";
    var contextPath =  $"{ Context.Request.Path }{ Context.Request.QueryString }";
    var recordNumber = Model?.FirstRowOnPage;
}

<div class="row">
    <div class="ks-page-header col-12">
        <h2 class="ks-page-header__title">@ViewData["Title"]</h2>
        <ul class="d-flex flex-md-row align-items-md-center float-right">
            <li class="list-inline-item mx-3 mb-0">
                <a class='btn btn--primary' asp-action="Create" asp-route-returnUrl="@contextPath">
                    <i class="la la-plus mr-1 font-weight-800"></i> Add Admission Document Group
                </a>
            </li>
        </ul>
    </div>
</div>

<section class="row">
    <div class="col-12">
        <div class="block block--underline">
            <div class="block__title">
                <header>Search Admission Document Group</header>
            </div>

            <div class="block__body">
                <form class="form-horizontal" asp-controller="AdmissionDocumentGroup" asp-action="Index" method="GET">
                    @Html.AntiForgeryToken()
                    <div class="row form-group">
                        <div class="col-3">
                            <input class="form-control" asp-for="Criteria.CodeAndName" type="text">
                            <label>Name</label>
                        </div>
                        <div class="col-3">
                            <select class="chosen-select form-control js-cascade-academic-level" asp-for="Criteria.AcademicLevelId" asp-items="ViewBag.AcademicLevels">
                                <option selected>Select</option>
                            </select>
                            <label>Academic Level</label>
                        </div>
                        <div class="col-3">
                            <select class="chosen-select form-control js-cascade-faculty" asp-for="Criteria.FacultyId" asp-items="ViewBag.Faculties">
                                <option selected>Select</option>
                            </select>
                            <label>Division</label>
                        </div>
                        <div class="col-3">
                            <select class="chosen-select form-control js-cascade-department" asp-for="Criteria.DepartmentId" asp-items="ViewBag.Departments">
                                <option selected>Select</option>
                            </select>
                            <label>Major</label>
                        </div>
                    </div>

                    <div class="row form-group mb-0">
                        <div class="col-3">
                            <select class="chosen-select form-control" asp-for="Criteria.AdmissionTypeId" asp-items="ViewBag.AdmissionTypes">
                                <option selected>Select</option>
                            </select>
                            <label>Admission Type</label>
                        </div>
                        <div class="col-3">
                            <select class="chosen-select form-control" asp-for="Criteria.CountryId" asp-items="ViewBag.Countries">
                                <option selected>Select</option>
                            </select>
                            <label>Graduated Country</label>
                        </div>
                        <div class="col-6 align-self-end text-right">
                            <button class="btn btn-mw-120 btn--primary m-r-5 mb-0" type="submit">
                                <i class="la la-search mr-2"></i>Search
                            </button>
                            <button class="btn btn-mw-120 btn--reset js-reset-btn mb-0" type="reset">
                                Reset
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

<section class="row">
    <div class="col-12">
        <div class="block block--underline">
            <div class="block__body">
                <div class="table-responsive">
                    <table class="table table-bordered table-hover w-100x">
                        <thead>
                            <tr>
                                <th class="text-center">#</th>
                                <th>Group Name</th>
                                <th>Academic Level</th>
                                <th>Division</th>
                                <th>Major</th>
                                <th>Admission Type</th>
                                <th class="text-center">For Thai</th>
                                <th>Country</th>
                                <th class="text-center">Status</th>
                                <th class="text-center">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model != null && Model.Results.Any())
                            {
                                foreach (var item in Model.Results)
                                {
                                    <tr>
                                        <td>@recordNumber</td>
                                        <td>@item.Name</td>
                                        <td>@(item.AcademicLevel?.NameEn ?? "All")</td>
                                        <td>@(item.Faculty?.NameEn ?? "All")</td>
                                        <td>@(item.Department?.NameEn ?? "All")</td>
                                        <td>@(item.AdmissionType?.NameEn ?? "All")</td>
                                        <td>
                                            <partial name="_BooleanResult" model="@item.IsThai">
                                        </td>
                                        <td>@(item.GraduatedCountry?.NameEn ?? "All")</td>
                                        <td>
                                            <partial name="_BooleanActive" model="@item.IsActive" />
                                        </td>
                                        <td class="text-nowrap td-actions">
                                            <a data-toggle="modal" 
                                               data-target="#required-documents-modal" 
                                               data-controller="AdmissionDocumentGroup" 
                                               data-action="Detail" 
                                               data-value="@item.Id">
                                                <i class="la la-info info"></i>
                                            </a>
                                            <a asp-controller="AdmissionDocumentGroup"
                                               asp-action="Edit"
                                               asp-route-Id="@item.Id"
                                               asp-route-returnUrl="@contextPath">
                                                <i class="la la-edit edit"></i>
                                            </a>
                                            <a data-toggle="modal" 
                                               data-target="#delete-confirm-modal" 
                                               data-controller="AdmissionDocumentGroup" 
                                               data-action="Delete" 
                                               data-value="@item.Id">
                                                <i class="la la-trash delete"></i>
                                            </a>
                                        </td>
                                    </tr>
                                    recordNumber++;
                                }
                            }
                            else
                            {
                                <tr>
                                    <td colspan="8">No Data</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>

@section Modals {
    <partial name="_RequiredDocumentsModal" model="new List<RequiredDocument>()" />
    <partial name="_DeleteConfirmModals" />
}

@section Scripts {
    <script type="text/javascript" src="~/js/pages/admission-document-group.js"></script>
}