@model List<Slot>
@{
    ViewData["Title"] = "Slot Export Excel"; 
    var index = 1;
    var slotIndex = 1;
}

<section class="row">
    <div class="col-12">
			<div class="block__body">
                <div class="row">
                    <div class="col ks-page-header">
                        <a class="btn-back"
                           href="@ViewBag.ReturnUrl">
                            <i class="la la-angle-double-left mr-1"></i>Back
                        </a>
                    </div>
                    <div class="col text-nowrap text-right">
                        <a id="file-name" hidden></a>
                        <input class="worksheet-name" value="Registration Slot @DateTime.Now.ToString(StringFormat.ShortDate).Replace("/", "-")" hidden>
                        <button class="btn btn-mw-120 btn--primary mb-0 js-export-excel">Export Excel</button>
                    </div>
                </div>
                <div class="table-responsive">
                    @if (Model != null && Model.Any())
                    {
                        foreach (var slot in Model)
                        {
                            <table id="slot-export-@index" class="table table-bordered table-hover w-100x">
                                <thead>
                                    <tr>
                                        <th style="text-align: center; background-color: #dee2e6;">#</th>
                                        <th style="text-align: left; background-color: #dee2e6;">Date / Time</th>
                                        <th style="text-align: left; background-color: #dee2e6;">Slot Name</th>
                                        <th style="text-align: left; background-color: #dee2e6;">Registration Term</th>
                                        <th class="text-center" style="text-align: left; background-color: #dee2e6;">Special Slot</th>
                                        <th class="text-center" style="text-align: left; background-color: #dee2e6;">Status</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr style="border: 1px solid #dee2e6;">
                                        <td rowspan="@(slot.RegistrationSlotConditions.Count + 2)" style="text-align: center; vertical-align: middle;">@slotIndex</td>
                                        <td>@slot.SlotText</td>
                                        <td>@slot.Name</td>
                                        <td>@slot.RegistrationTerm.Name</td>
                                        <td>
                                            @if (slot.IsSpecialSlot)
                                            {
                                                <i class="la la-check"></i>
                                            }
                                        </td>
                                        <td>
                                            <partial name="_BooleanActive" model="@slot.IsActive" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <th style="text-align: left; background-color: #dee2e6;">Registration Term</th>
                                        <th style="text-align: left; background-color: #dee2e6;">Condition Name</th>
                                        <th colspan="3" style="text-align: left; background-color: #dee2e6;">Conditions</th>
                                    </tr>
                                    @if (slot.RegistrationSlotConditions != null && slot.RegistrationSlotConditions.Any())
                                    {
                                        @foreach (var condition in slot.RegistrationSlotConditions)
                                        {
                                            <tr style="border: 1px solid #dee2e6;">
                                                <td style="text-align: left !important; vertical-align: middle;">@slot.RegistrationTerm.Name</td>
                                                <td style="text-align: left !important; vertical-align: middle;">@condition.RegistrationCondition.Name</td>
                                                <td colspan="3" style="text-align: left !important;">
                                                    @if (condition.RegistrationCondition.AcademicLevel != null)
                                                    {
                                                        <b>Academic Level:</b> @condition.RegistrationCondition.AcademicLevel?.NameEn <br>
                                                    }
                                                    @if (condition.RegistrationCondition.AcademicProgram != null)
                                                    {
                                                        <b>Academic Program:</b> @condition.RegistrationCondition.AcademicProgram?.NameEn <br>
                                                    }
                                                    @if (condition.RegistrationCondition.Faculty != null)
                                                    {
                                                        <b>Division:</b> @condition.RegistrationCondition.Faculty?.NameEn <br>
                                                    }
                                                    @if(condition.RegistrationCondition.Department != null)
                                                    {
                                                        <b>Major:</b> @condition.RegistrationCondition.Department?.Code
                                                    }
                                                    @if(condition.RegistrationCondition.Batch != "")
                                                    {
                                                        <b>Batch:</b> @condition.RegistrationCondition.Batch <br>
                                                    }
                                                    @if(condition.RegistrationCondition.LastDigit != "")
                                                    {
                                                        <b>Last Digit:</b> @condition.RegistrationCondition.LastDigit <br>
                                                    }
                                                    @if(condition.RegistrationCondition.StudentCodeRange != "")
                                                    {
                                                        <b>Code Range:</b> @condition.RegistrationCondition.StudentCodeRange <br>
                                                    }
                                                    @if(condition.RegistrationCondition.StudentCodes != null && condition.RegistrationCondition.StudentCodes != "")
                                                    {
                                                        <b>Student Codes:</b> @condition.RegistrationCondition.StudentCodes
                                                    }
                                                </td>
                                            </tr>
                                        }
                                    }
                                    <tr></tr>
                                </tbody>
                            </table>
                            index++;
                            slotIndex++;
                        }
                    }
                    else
                    {
                        <tr>
                            <td class="text-center" colspan="9">
                                <i class="text-danger">No Data</i>
                            </td>
                        </tr>
                    }
                </div>
            </div>
		</div>
	</div>
</section>

@section Scripts {
    <script type="text/javascript" src="~/js/pages/registration-slot.js"></script>
    <script type="text/javascript" src="~/js/pages/registration-slot-export.js"></script>
}