@model PagedResult<TransactionFinalGradeReportViewModel>
@{
    ViewData["Title"] = "Transaction Final Grade Report";
    var recordNumber = Model?.FirstRowOnPage;
}

<section class="row">
    <div class="col-12">
        <div class="block block--underline">
            <div class="block__title">
                <header>Transaction Final Grade Report</header>
            </div>

            <div class="block__body">
                <form class="form-horizontal" asp-controller="TransactionFinalGradeReport" asp-action="Index" method="GET">
                    @Html.AntiForgeryToken()
                    <div class="row form-group m-b-30">
                        <div class="col-3">
                            <select class="chosen-select form-control js-cascade-academic-level" asp-for="Criteria.AcademicLevelId" asp-items="ViewBag.AcademicLevels" data-placeholder="Select">
                                <option selected disabled>Select</option>
                            </select>
                            <label>Academic Level<span class="text-danger">*</span></label>
                        </div>
                        <div class="col-3">
                            <select class="chosen-select form-control js-cascade-faculty" asp-for="Criteria.FacultyId" asp-items="ViewBag.Faculties" data-placeholder="Select">
                                <option selected value="">Select</option>
                            </select>
                            <label>Division</label>
                        </div>
                        <div class="col-3">
                            <select class="chosen-select form-control js-cascade-department" asp-for="Criteria.DepartmentId" asp-items="ViewBag.Departments" data-placeholder="Select">
                                <option selected value="">Select</option>
                            </select>
                            <label>Major</label>
                        </div>
                        <div class="col-3">
                            <select class="chosen-select form-control" asp-for="Criteria.CurriculumId" asp-items="ViewBag.Curriculums" data-placeholder="Select">
                                <option selected value="">Select</option>
                            </select>
                            <label>Curriculum</label>
                        </div>
                    </div>

                    <div class="row form-group m-b-30">
                        <div class="col-3">
                            <select class="chosen-select form-control" asp-for="Criteria.InstructorId" asp-items="ViewBag.Terms" data-placeholder="Select">
                                <option selected value="">Select</option>
                            </select>
                            <label>Instructor</label>
                        </div>
                        <div class="col-3">
                            <select class="chosen-select form-control" asp-for="Criteria.CourseId" asp-items="ViewBag.Courses" data-placeholder="Select">
                                <option selected value="">Select</option>
                            </select>
                            <label>Course</label>
                        </div>
                        <div class="col-3">
                            <select class="chosen-select form-control" asp-for="Criteria.MaintenanceType" asp-items="ViewBag.MaintenanceTypes" data-placeholder="All"></select>
                            <label>Maintenance Type</label>
                        </div>
                        <div class="col-3">
                            <select class="chosen-select form-control js-report-type" asp-for="Criteria.Type" asp-items="ViewBag.ReportTypes" data-placeholder="Select"></select>
                            <label>Report Type<span class="text-danger">*</span></label>
                        </div>
                    </div>

                    <div class="row form-group m-b-30">
                        <div class="col-3">
                            <input class="form-control js-check-student-code" asp-for="Criteria.StudentCodeFrom" type="text">
                            <label>Code From</label>
                        </div>
                        <div class="col-3">
                            <input class="form-control js-check-student-code" asp-for="Criteria.StudentCodeTo" type="text">
                            <label>To</label>
                        </div>
                        <div class="col-3">
                            <input class="form-control js-single-date js-check-date" asp-for="Criteria.UpdatedFrom" type="text" autocomplete="off">
                            <label>Date From</label>
                        </div>
                        <div class="col-3">
                            <input class="form-control js-single-date js-check-date" asp-for="Criteria.UpdatedTo" type="text" autocomplete="off">
                            <label>To</label>
                        </div>
                    </div>

                    <div class="row form-group m-b-30">
                        <div class="col-3 js-check-month">
                            <select class="chosen-select form-control" asp-for="Criteria.MonthFrom" asp-items="ViewBag.Month" data-placeholder="Select">
                                <option selected value="">Select</option>
                            </select>
                            <label>Month From</label>
                        </div>
                        <div class="col-3 js-check-month">
                            <select class="chosen-select form-control" asp-for="Criteria.MonthTo" asp-items="ViewBag.Month" data-placeholder="Select">
                                <option selected value="">Select</option>
                            </select>
                            <label>To</label>
                        </div>
                        <div class="col-3 js-check-term">
                            <select class="chosen-select form-control js-cascade-term" asp-for="Criteria.StartTermId" asp-items="ViewBag.Terms" data-placeholder="Select">
                                <option selected value="">Select</option>
                            </select>
                            <label>Term From</label>
                        </div>
                        <div class="col-3 js-check-term">
                            <select class="chosen-select form-control js-cascade-term" asp-for="Criteria.EndTermId" asp-items="ViewBag.Terms" data-placeholder="Select">
                                <option selected value="">Select</option>
                            </select>
                            <label>To</label>
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col-12 text-right align-self-end text-nowrap">
                            <button class="btn btn--primary btn-mw-120 mb-0 m-r-5" type="submit">
                                <i class="la la-search mr-2"></i>Search
                            </button>
                            <button class="btn btn-mw-120 btn--white mb-0 js-reset-btn" type="reset">
                                Reset
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
	</div>
</section>

@if (Model != null && Model.Results.Any())
{
    <section class="row">
        <div class="col-12">
            <div class="block block--underline">
                @if (Model.Criteria.Type == "d" || Model.Criteria.Type == "m" || Model.Criteria.Type == "t")
                {
                    var transaction = Model.Results[0];
                    <div class="block__title">
                        <header class="block__title-info ">
                            <h3 class="mb-3 text-center">MAHIDOL University</h3>
                            <h3 class="mb-3 text-center">Transaction FinalGrade</h3>
                            @if (Model.Criteria.Type == "t")
                            {
                                <h3 class="mb-3 text-center">Between Term @(Model.Criteria.UpdatedFromText + " - " + Model.Criteria.UpdatedToText)</h3>
                            }
                            else
                            {
                                <h3 class="mb-3 text-center">Date Between @(Model.Criteria.UpdatedFromText + " - " + Model.Criteria.UpdatedToText)</h3>
                            }
                        </header>
                    </div>
                } 
                else if (Model.Criteria.Type == "s")
                {
                    var transaction = Model.Results[0];
                    <div class="block__title">
                        <header class="block__title-info">
                            <h3 class="mb-3 text-center">MAHIDOL University</h3>
                            <h3 class="mb-3 text-center">
                                @if (Model.Criteria.MaintenanceType == "change")
                                {
                                    <p>Report Change Finalgrade by Student</p>
                                }
                                else if (Model.Criteria.MaintenanceType == "add")
                                {
                                    <p>Report Add Finalgrade by Student</p>
                                }
                                else if (Model.Criteria.MaintenanceType == "delete")
                                {
                                    <p>Report Delete Finalgrade by Student</p>
                                }
                                else
                                {
                                    <p>Report All Finalgrade by Student</p>
                                }
                            </h3>
                            <h3 class="mb-3 text-center">Student Between @(Model.Criteria.StudentCodeFrom + " - " + Model.Criteria.StudentCodeTo)</h3>
                        </header>
                    </div>
                }

                <div class="block__body">
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover js-report-table w-100x">
                            <thead>
                                <tr>
                                    <th class="text-center">#</th>
                                    <th class="text-center">Term</th>
                                    <th class="text-center">Student Code</th>
                                    <th>Course</th>
                                    <th class="text-center">Section</th>
                                    <th class="text-center">From</th>
                                    <th class="text-center">To</th>
                                    <th class="text-center">Changed Date</th>
                                    <th>Remark</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model != null && Model.Results.Any())
                                {
                                    foreach (var item in Model.Results) 
                                    {
                                        <tr>
                                            <td>@recordNumber</td>
                                            <td>@item.Term</td>
                                            <td>@item.StudentCode</td>
                                            <td>@item.Course</td>
                                            <td>@item.Section</td>
                                            <td>@item.PreviousGrade</td>
                                            <td>@item.CurrentGrade</td>
                                            <td>@item.UpdatedAt</td>
                                            <td>@item.Remark</td>
                                        </tr>
                                        recordNumber++;
                                    }
                                }
                                else
                                {
                                    <tr>
                                        <td colspan="8">
                                            <i class="text-danger">No Data</i>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
}

@section Scripts {
    <script type="text/javascript" src="~/js/pages/transaction-final-grade-report.js"></script>
}