@model PagedResult<MarkAllocationViewModel>
@{ 
    ViewData["Title"] = "Mark Allocation"; 
    var contextPath =  $"{ Context.Request.Path }{ Context.Request.QueryString }";
    var index = 1;
}

<section class="row">
    <div class="col-12">
        <div class="block block--underline">
            <div class="block__title">
                <header>Search Mark Allocation</header>
            </div>

            <div class="block__body">
                <form class="form-horizontal" asp-controller="MarkAllocation" asp-action="Index" method="GET">
                    @Html.AntiForgeryToken()
                    <div class="row form-group mb-0">
                        <div class="col-4">
                            <select class="chosen-select form-control js-cascade-academic-level" asp-for="Criteria.AcademicLevelId" asp-items="ViewBag.AcademicLevels">
                                <option selected disabled>Select</option>
                            </select>
                            <label>Academic Level<span class="text-danger">*</span></label>
                        </div>
                        <div class="col-4">
                            <select class="chosen-select form-control js-cascade-term" asp-for="Criteria.TermId" asp-items="ViewBag.Terms">
                                <option selected disabled>Select</option>
                            </select>
                            <label>Term<span class="text-danger">*</span></label>
                        </div>
                        <div class="col-4 align-self-end text-right">
                            <button class="btn btn-mw-120 btn--primary m-r-5 mb-0" type="submit">
                                <i class="la la-search mr-2"></i>Search
                            </button>
                            <button class="btn btn-mw-120 btn--reset js-reset-btn mb-0" type="reset">
                                Reset
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

<section class="row">
    <div class="col-12">
        <div class="block block--underline">
            <div class="block__title">
                <header>Search Result (@(Model?.Results?.Count() ?? 0))</header>
            </div>

            <div class="block__body">
                <div class="table-responsive">
                    <table class="table table-bordered table-hover w-100x">
                        <thead>
                            <tr>
                                <th class="text-center">#</th>
                                <th>Course</th>
                                <th class="text-center">Mark Allocation</th>
                                <th class="text-center w-100">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model != null && Model.Results.Any())
                            {
                                foreach (var item in Model.Results) 
                                {
                                    <tr>
                                        <td>@index</td>
                                        <td>@item.Course</td>
                                        <td class="text-center">
                                            <partial name="_BooleanResult" model="@item.IsMarkAllocation" />
                                        </td>
                                        <td class="text-nowrap td-actions">
                                            <a asp-controller="MarkAllocation"
                                               asp-action="Details"
                                               asp-route-courseId="@item.CourseId"
                                               asp-route-termId="@Model.Criteria.TermId"
                                               asp-route-returnUrl="@contextPath">
                                                <i class="la la-edit edit"></i>
                                            </a>
                                        </td>
                                    </tr>
                                    index++;
                                }
                            }
                            else
                            {
                                <tr>
                                    <td colspan="4">
                                        <i class="text-danger">No Data</i>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>

@section Modals {
    <partial name="_DeleteRowConfirmModals">
}

@section Scripts {
    <script type="text/javascript" src="~/js/pages/mark-allocation.js"></script>
}