@model WithdrawalExceptionViewModel
@{
    var index = 1;
}

@if (Model != null && Model.ExceptionalCourses != null)
{
    <div class="block block--underline">
        <span id="js-status-course" hidden>@Model.RespondStatus</span>
        <div class="block__title">
            <header>Withdrawal Exception Result (@Model.ExceptionalCourses?.Count())</header>
        </div>

        <div class="block__body">
            <div class="row form-group">
                <div class="col-12">
                    <div class="table-responsive">
                        <table class="table table-bordered m-0">
                            <thead>
                                <tr>
                                    <th class="text-center w-50">#</th>
                                    <th class="w-150">Code</th>
                                    <th>Course</th>
                                    <th class="text-center w-75">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if(Model.ExceptionalCourses.Any())
                                {
                                    @foreach (var item in Model.ExceptionalCourses)
                                    {
                                        <tr>
                                            <td class="text-center">@index</td>
                                            <td>@item.Course.Code</td>
                                            <td>@item.Course.NameEn</td>
                                            <td class="text-nowrap td-actions">
                                                <a data-toggle="modal" 
                                                   data-target="#delete-confirm-modal-tab" 
                                                   data-onclick="Delete"
                                                   data-value="@item.Id"
                                                   data-tab-index="0">
                                                    <i class="la la-trash delete"></i>
                                                </a> 
                                            </td>
                                        </tr>
                                        index++;
                                    }
                                }
                                else
                                {
                                    <tr>
                                        <td class="text-center" colspan="4">No Data</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
}