@model PagedResult<PredefinedCourse>
@{ 
    ViewData["Title"] = "Predefined Course"; 
    var contextPath =  $"{ Context.Request.Path }{ Context.Request.QueryString }";
    var recordNumber = Model?.FirstRowOnPage;
}

<div class="row">
    <div class="ks-page-header col-12">
        <h2 class="ks-page-header__title">@ViewData["Title"]</h2>
        <ul class="d-flex flex-md-row align-items-md-center float-right">
            <li class="list-inline-item mx-3 mb-0">
                <a class='btn btn--primary' asp-action="Create" asp-route-returnUrl="@contextPath">
                    <i class="la la-plus mr-1 font-weight-800"></i> Add Predefined Course
                </a>
            </li>
        </ul>
    </div>
</div>

<section class="row">
    <div class="col-12">
        <div class="block block--underline">
            <div class="block__title">
                <header>Search Predefined Course</header>
            </div>

            <div class="block__body">
                <form class="form-horizontal" asp-controller="PredefinedCourse" asp-action="Index" method="GET">
                    @Html.AntiForgeryToken()
                    <div class="row form-group m-b-30">
                        <div class="col-4">
                            <select class="chosen-select form-control js-cascade-academic-level" asp-for="Criteria.AcademicLevelId" asp-items="ViewBag.AcademicLevels">
                                <option selected value="">Select</option>
                            </select>
                            <label>Academic Level</label>
                        </div>
                        <div class="col-4">
                            <select class="chosen-select form-control js-cascade-curriculum" asp-for="Criteria.CurriculumId" asp-items="ViewBag.Curriculums">
                                <option selected value="">Select</option>
                            </select>
                            <label>Curriculum</label>
                        </div>
                        <div class="col-4">
                            <select class="chosen-select form-control js-cascade-curriculum-version" asp-for="Criteria.CurriculumVersionId" asp-items="ViewBag.CurriculumVersions">
                                <option selected value="">Select</option>
                            </select>
                            <label>Curriculum Version</label>
                        </div>
                        
                    </div>

                    <div class="row form-group m-b-30">
                        <div class="col-4">
                            <select class="chosen-select form-control" asp-for="Criteria.Type" asp-items="ViewBag.RequiredTypes">
                                <option selected value="">Select</option>
                            </select>
                            <label>Required Type</label>
                        </div>
                        <div class="col-4">
                            <select class="chosen-select form-control js-cascade-course" asp-for="Criteria.CourseId" asp-items="ViewBag.Courses">
                                <option selected value="">Select</option>
                            </select>
                            <label>Course</label>
                        </div>
                        <div class="col-4 align-self-end text-right">
                            <button class="btn btn-mw-120 btn--primary m-r-5 mb-0" type="submit">
                                <i class="la la-search mr-2"></i>Search
                            </button>
                            <button class="btn btn-mw-120 btn--reset js-reset-btn mb-0" type="reset">
                                Reset
                            </button>
                        </div>
                    </div>

                    <div class="row form-group">
                        
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

<section class="row">
    <div class="col-12">
        <div class="block block--underline">
            <div class="block__title">
                <header>Search Result (@(Model?.RowCount ?? 0))</header>
            </div>

            <div class="block__body">
                <div class="table-responsive">
                    <table class="table table-bordered table-hover w-100x">
                        <thead>
                            <tr>
                                <th class="text-center">#</th>
                                <th>Curriculum</th>
                                <th>Curriculum Version</th>
                                <th class="text-center">Required Type</th>
                                <th>First Course</th>
                                <th>Second Course</th>
                                <th class="text-center">Grade</th>
                                <th>Expired At</th>
                                <th class="text-center">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model != null && Model.Results.Any())
                            {
                                foreach (var item in Model.Results) 
                                {
                                    <tr>
                                        <td>@recordNumber</td>
                                        <td>@item.CurriculumVersion?.Curriculum?.NameEn</td>
                                        <td>@item.CurriculumVersion?.NameEn</td>
                                        <td>@item.RequiredTypeText</td>
                                        <td>@item.FirstCourse?.NameEn</td>
                                        <td>@item.SecondCourse?.NameEn</td>
                                        <td>@item.Grade?.Name</td>
                                        <td>@item.ExpiredAtText</td>
                                        <td class="text-nowrap td-actions">
                                            <a asp-controller="PredefinedCourse" 
                                               asp-action="Edit" 
                                               asp-route-Id="@item.Id"
                                               asp-route-returnUrl="@contextPath">
                                                <i class="la la-edit edit"></i>
                                            </a>
                                            <a data-toggle="modal" 
                                               data-target="#delete-confirm-modal" 
                                               data-controller="PredefinedCourse" 
                                               data-action="Delete" 
                                               data-value="@item.Id">
                                                <i class="la la-trash delete"></i>
                                            </a>
                                        </td>
                                    </tr>
                                    recordNumber++;
                                }
                            }
                            else
                            {
                                <tr>
                                    <td colspan="9">
                                        <i class="text-danger">No Data</i>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        @(await Component.InvokeAsync<PagerViewComponent>(Model))
    </div>
</section>

@section Modals {
    <partial name="_DeleteConfirmModals">
}