@model ReportViewModel
@{ 
    ViewData["Title"] = "Grade Report Preview";
}

<img id="js-default-student" src="@(Model.ProfileImageURL == null ? "/images/default-profile-m.png" : Model.ProfileImageURL)" 
    onerror="this.src = '/images/default-profile-m.png'" 
    hidden>

<section class="row">
    <div class="ks-page-header">
        <a class="btn-back" asp-action="Index"
           asp-route-code="@Model.Criteria.Code"
           asp-route-studentCodeFrom="@Model.Criteria.StudentCodeFrom"
           asp-route-studentCodeTo="@Model.Criteria.StudentCodeTo"
           asp-route-type="@Model.Criteria.Type"
           asp-route-purpose="@Model.Criteria.Purpose"
           asp-route-language="@Model.Criteria.Language"
           asp-route-isUrgent="@Model.Criteria.IsUrgent"
           asp-route-approvedById="@Model.Criteria.ApprovedById">
            <i class="la la-angle-double-left mr-1"></i>
        </a>
        <h2 class="ks-page-header__title">@ViewData["Title"]</h2>
    </div>
</section>

<partial name="_PdfPreview" model="@Model">

<section>
    <div class="block__action-row pr-0">
        <a class="btn btn-mw-120 btn--success" asp-action="Index">Finish</a>
    </div>
</section>

@section Scripts {
    <script type="text/javascript" src="~/js/pages/pdf-render/academic-record.js"></script>
}