@model PagedResult<AndCondition>
@{ 
    ViewData["Title"] = "And Condition"; 
    var recordNumber = Model?.FirstRowOnPage;
    var contextPath =  $"{ Context.Request.Path }{ Context.Request.QueryString }";
}

<div class="row">
    <div class="ks-page-header col-12">
        <h2 class="ks-page-header__title">@ViewData["Title"]</h2>
        <ul class="d-flex flex-md-row align-items-md-center float-right">
            <li class="list-inline-item mx-3 mb-0">
                <a class='btn btn--primary' asp-action="Create" asp-route-returnUrl="@contextPath">
                    <i class="la la-plus mr-1 font-weight-800"></i> Add And Condition
                </a>
            </li>
        </ul>
    </div>
</div>

<section class="row">
    <div class="col-12">
        <div class="block block--underline">
            <div class="block__title">
                <header>Search And Condition</header>
            </div>

            <div class="block__body">
                <form class="form-horizontal" asp-controller="AndCondition" asp-action="Index" method="GET">
                    @Html.AntiForgeryToken()
                    <div class="row form-group m-b-30">
                        <div class="col-3">
                            <select class="chosen-select form-control js-first-condition-type" asp-for="Criteria.Type" asp-items="ViewBag.ConditionTypes">
                                <option selected>Select</option>
                            </select>
                            <label>Condition Type</label>
                        </div>
                        <div class="col-9">
                            <select class="chosen-select form-control js-first-condition" asp-for="Criteria.ConditionId" asp-items="ViewBag.FirstConditions">
                                <option selected>Select</option>
                            </select>
                            <label>Condition</label>
                        </div>
                    </div>
                    <div class="row form-group m-b-30">
                        <div class="col-3">
                            <select class="chosen-select form-control" asp-for="Criteria.Status" asp-items="ViewBag.Statuses"></select>
                            <label>Status</label>
                        </div>
                        <div class="col align-self-end text-right text-nowrap">
                            <button class="btn btn-mw-120 btn--primary m-r-5 mb-0" type="submit">
                                <i class="la la-search mr-2"></i>Search
                            </button>
                            <button class="btn btn-mw-120 btn--reset js-reset-btn mb-0" type="reset">
                                Reset
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

<section class="row">
    <div class="col-12">
        <div class="block block--underline">
            <div class="block__title">
                <header>Search Result (@(Model?.RowCount ?? 0))</header>
            </div>

            <div class="block__body">
                <div class="table-responsive">
                    <table class="table table-bordered table-hover w-100x">
                        <thead>
                            <tr>
                                <th class="text-center w-50">#</th>
                                <th class="text-center w-50">Id</th>
                                <th>Type</th>
                                <th>First Condition</th>
                                <th>Type</th>
                                <th>Second Condition</th>
                                <th>Expired Date</th>
                                <th class="text-center">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model != null && Model.Results.Any())
                            {
                                foreach (var item in Model.Results) 
                                {
                                    <tr>
                                        <td>@recordNumber</td>
                                        <td>@item.Id</td>
                                        <td>@item.FirstConditionTypeText</td>
                                        <td>@item.FirstConditionName</td>
                                        <td>@item.SecondConditionTypeText</td>
                                        <td>@item.SecondConditionName</td>
                                        <td>@item.ExpiredAtText</td>
                                        <td class="text-nowrap td-actions">
                                            <a asp-controller="AndCondition" 
                                               asp-action="Edit" 
                                               asp-route-returnUrl="@contextPath"
                                               asp-route-Id="@item.Id">
                                                <i class="la la-edit edit"></i>
                                            </a>
                                            <a data-toggle="modal" 
                                               data-target="#delete-confirm-modal" 
                                               asp-controller="AndCondition"
                                               asp-action="Delete"
                                               asp-route-id="@item.Id"
                                               asp-route-returnUrl="@contextPath"
                                               data-value="@item.Id">
                                                <i class="la la-trash delete"></i>
                                            </a>
                                        </td>
                                    </tr>
                                    recordNumber++;
                                }
                            }
                            else
                            {
                                <tr>
                                    <td colspan="8">
                                        <i class="text-danger">No Data</i>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        @(await Component.InvokeAsync<PagerViewComponent>(Model))
    </div>
</section>

@section Modals {
    <partial name="_DeleteConfirmModals">
}

@section Scripts {
    <script type="text/javascript" src="~/js/pages/condition-type-id.js"></script>
}