@model PagedResult<Corequisite>
@{ 
    ViewData["Title"] = "Co-requisite";
    var contextPath =  $"{ Context.Request.Path }{ Context.Request.QueryString }";
    var recordNumber = Model?.FirstRowOnPage;
}

<section class="row">
    <div class="ks-page-header col-12">
        <h2 class="ks-page-header__title">@ViewData["Title"]</h2>
        <ul class="d-flex flex-md-row align-items-md-center float-right">
            <li class="list-inline-item mx-3 mb-0">
                <a class="btn btn--primary" asp-action="Create" asp-route-returnUrl="@contextPath">
                   <i class="la la-plus mr-1 font-weight-800"></i> Add Co-requisite
                </a>
            </li>
        </ul>
    </div>
</section>

<section class="row">
    <div class="col-12">
        <div class="block block--underline">
            <div class="block__title">
                <header>Search Co-requisite</header>
            </div>

            <div class="block__body">
                <form class="form-horizontal" asp-controller="Corequisite" asp-action="Index" method="GET">
                    @Html.AntiForgeryToken()

                    <div class="row form-group">
                        <div class="col-4">
                            <select class="chosen-select form-control js-cascade-academic-level" asp-for="Criteria.CourseId" asp-items="ViewBag.Courses">
                                <option selected value="">Select</option>
                            </select>
                            <label>Course</label>
                        </div>

                        <div class="col-4">
                            <select class="chosen-select form-control" asp-for="Criteria.Status" asp-items="ViewBag.ActiveStatuses"></select>
                            <label>Status</label>
                        </div>

                        <div class="col-4 align-self-end text-right text-nowrap">
                            <button class="btn btn-mw-120 btn--primary m-r-5 mb-0" type="submit">
                                <i class="la la-search mr-2"></i>Search
                            </button>
                            <button class="btn btn-mw-120 btn--reset js-reset-btn mb-0" asp-action="Index" type="reset">
                                Reset
                            </button>
                        </div>
                </form>
            </div>
        </div>
    </div>
</section>

<section class="row">
    <div class="col-12">
        <div class="block block--underline">
            <div class="block__title">
                <header>Search Result (@(Model?.RowCount ?? 0))</header>
            </div>
            
            <div class="block__body">
                <div class="table-responsive">
                    <table id="js-course-group-condition" class="table table-bordered table-hover w-100x">
                        <thead>
                            <tr>
                                <th class="text-center">#</th>
                                <th>First Course</th>
                                <th>Second Course</th>
                                <th>Expired</th>
                                <th class="text-center">Status</th>
                                <th class="text-nowarp text-center no-sort">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model != null && Model.Results.Any())
                            {
                                foreach (var item in Model.Results) 
                                {
                                    <tr>
                                        <td>@recordNumber</td>
                                        <td>@item.FirstCourse?.CodeAndName</td>
                                        <td>@item.SecondCourse?.CodeAndName</td>
                                        <td>@item.ExpiredAtText</td>
                                        <td>
                                            <partial name="_BooleanActive" model="@item.IsActive" />
                                        </td>
                                        <td class="text-nowrap text-center td-actions">
                                            <a asp-controller="Corequisite"
                                               asp-action="Edit"
                                               asp-route-Id="@item.Id"
                                               asp-route-returnUrl="@contextPath">
                                                <i class="la la-edit edit"></i>
                                            </a>
                                            <a data-toggle="modal" 
                                               data-target="#delete-confirm-modal" 
                                               data-controller="Corequisite" 
                                               data-action="Delete" 
                                               data-value="@item.Id">
                                                <i class="la la-trash delete"></i>
                                            </a>
                                        </td>
                                    </tr>
                                    recordNumber++;
                                }
                            }
                            else
                            {
                                <tr>
                                    <td colspan="6">
                                        <i class="text-danger">No Data</i>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        @(await Component.InvokeAsync<PagerViewComponent>(Model))
    </div>
</section>

@section Modals {
    <partial name="_DeleteConfirmModals">
}