@model FacultyViewModel
@{
    var index = 1;
}

<section class="block__body">
    <div class="row">
        <div class="ks-page-header col-12">
            <ul class="d-flex flex-md-row align-items-md-center float-right">
                <li class="list-inline-item mx-3 mb-0">
                    <a class="btn btn-mw-120 btn--primary"
                       data-toggle="modal"
                       data-target="#add-faculty-member"
                       data-value="@Model.FacultyId"
                       data-type="pd"
                       data-return-url="@ViewBag.ReturnUrl">
                        <i class="la la-plus mr-1 font-weight-800"></i> Add Program Director
                    </a>
                </li>
            </ul>
        </div>
    </div>
    
    <div class="table-responsive">
        <table class="table table-bordered table-hover w-100x">
            <thead>
                <tr>
                    <th class="text-center">#</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Group of Courses</th>
                    <th>Group of Curriculum Versions</th>
                    <th class="text-center">Action</th>
                </tr>
            </thead>
            <tbody>
                @if (Model != null && Model.Directors.Any())
                {
                    foreach (var item in Model.Directors) 
                    {
                        <tr>
                            <td>@index</td>
                            <td>@item.Name</td>
                            <td>@item.Email</td>
                            <td>@item.FilterCourseGroup</td>
                            <td>@item.FilterCurriculumVersionGroup</td>
                            <td class="text-nowrap td-actions">
                                <a data-toggle="modal"
                                   data-target="#edit-faculty-member"
                                   data-value="@item.FacultyMemberId"
                                   data-return-url="@ViewBag.ReturnUrl">
                                    <i class="la la-edit edit"></i>
                                </a>
                                <a data-toggle="modal" 
                                   data-target="#delete-confirm-modal" 
                                   data-controller="Faculty" 
                                   data-action="DeleteProgramDirector" 
                                   data-value="@item.FacultyMemberId"
                                   data-type="pd"
                                   data-return-url="@ViewBag.ReturnUrl">
                                    <i class="la la-trash delete"></i>
                                </a>
                            </td>
                        </tr>
                        index++;
                    }
                }
                else
                {
                    <tr>
                        <td colspan="6">
                            <i class="text-danger">No Data</i>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</section>