@model StudentTransferViewModel
@{ 
    ViewData["Title"] = "Match Courses";
    var contextPath =  $"{ Context.Request.Path }{ Context.Request.QueryString }";
    var listIndex = 0;
}

<section class="row">
    <div class="col-12">
        <div class="block block--underline">
            <div class="block__title">
                <header>@ViewData["Title"]</header>
            </div>

            <div class="block__body">
                <div class="row form-group mb-2">
                    <div class="col-2">
                        <div class="form-control-label d-flex align-items-center">Student Code</div>
                        <div class="form-control-plaintext">@Model.StudentCode</div>
                    </div>
                    <div class="col-3">
                        <div class="form-control-label d-flex align-items-center">Student Name</div>
                        <div class="form-control-plaintext">@Model.StudentFirstName @Model.StudentLastName</div>
                    </div>
                    <div class="col-7">
                        <div class="form-control-label d-flex align-items-center">Curriculum Version</div>
                        <div class="form-control-plaintext">@Model.CurriculumName - @Model.CurriculumVersionName</div>
                    </div>
                </div>

                @if (Model.StudentCourseEquivalents != null)
                {
                    <hr>
                    <form id="js-match-course-form" class="form-horizontal" asp-controller="TransferStudent" asp-action="Summary" method="POST">
                        <input name="returnUrl" value="@ViewBag.ReturnUrl" type="hidden">
                        <div class="form-group">
                            <input asp-for="StudentId" type="hidden">
                            <input asp-for="StudentCode" type="hidden">
                            <input asp-for="StudentFirstName" type="hidden">
                            <input asp-for="StudentLastName" type="hidden">
                            <input asp-for="CurriculumVersionId" class="js-get-curriculum-version" type="hidden">
                            <input asp-for="CurriculumName" type="hidden">
                            <input asp-for="CurriculumVersionName" type="hidden">
                            <input asp-for="TransferUniversityId" type="hidden">

                            <table id="js-match-course" class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>Transfer Course</th>
                                        <th class="text-center">Transfer Grade</th>
                                        <th>Course</th>
                                        <th class="text-center">Grade</th>
                                        <th class="text-center">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model.StudentCourseEquivalents != null && Model.StudentCourseEquivalents.Any()) 
                                    {
                                        foreach (var item in Model.StudentCourseEquivalents)
                                        {
                                            <tr>
                                                <td>
                                                    @item.CurrentCourseName
                                                    <input asp-for="@Model.StudentCourseEquivalents[listIndex].CurrentCourseId" type="hidden"/>
                                                    <input asp-for="@Model.StudentCourseEquivalents[listIndex].RegistrationCourseId" type="hidden"/>
                                                    <input asp-for="@Model.StudentCourseEquivalents[listIndex].GradeId" type="hidden"/>
                                                </td>
                                                <td>@item.CurrentCourseGrade</td>
                                                <td>
                                                    <input class="js-cascade-term" asp-for="@Model.StudentCourseEquivalents[listIndex].TermId" type="hidden">
                                                    <select class="chosen-select form-control"
                                                            asp-for="@Model.StudentCourseEquivalents[listIndex].NewCourseId" 
                                                            asp-items="@ViewBag.Courses"
                                                            data-placeholder="Select">
                                                    </select>
                                                </td>
                                                <td>
                                                    <select class="chosen-select-no-search form-control js-cascade-grade" asp-items="@ViewBag.Grades"
                                                            asp-for="@Model.StudentCourseEquivalents[listIndex].NewGradeId" data-placeholder="Select">
                                                    </select>
                                                </td>
                                                <td class="td-actions text-nowrap">
                                                    <a class="js-del-row" href="#!" data-toggle="modal" data-target="#delete-row-confirm-modal">
                                                        <i class="la la-trash delete"></i>
                                                    </a>
                                                </td>
                                            </tr>
                                            listIndex++;
                                        }
                                    }
                                    else
                                    {
                                        <tr>
                                            <td class="text-center" colspan="5">
                                                <i class="text-danger">No Data</i>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>

                        <div class="form-group text-right mb-0">
                            <button id="js-submit-new-course" class="btn btn-mw-120 btn--primary" type="submit">Next</button>
                            <a href="@ViewBag.ReturnUrl" class="btn btn-mw-120 btn--cancel">Cancel</a>
                        </div>
                    </form>
                }
            </div>
        </div>
    </div>
</section>


@section Modals {
  <partial name="_DeleteRowConfirmModals" />
}

@section Scripts {
    <script type="text/javascript" src="~/js/pages/match-courses.js"></script>
}