@model Student

@{
    var model = Model.ParentInformations;
    var tabPermission = Model.TabPermissions?.FirstOrDefault(x => x.Tab.ToUpper() == "PARENT");
    var isEditable = tabPermission?.IsWritable  ?? false;
}

<section class="ks-other-status-info">
    <div class="block block--underline">
        <div class="block__title">
            <header>Parent Information</header>
            <div class="tools">
                @if (isEditable)
                {
                    <a class="btn btn-mw-120 btn--primary" 
                   href="#"
                   data-toggle="modal" 
                   data-target="#create-modal-parent">
                        <i class="la la-plus mr-1 font-weight-800"></i> Add
                    </a>
                }
            </div>
        </div>

        <div class="block__body table-responsive">
            <table class="table table-bordered m-0">
                <thead>
                    <tr>
                        <th class="text-center">#</th>
                        <th>Name</th>
                        <th>Relationship</th>
                        <th class="text-center">Main Parent</th>
                        <th class="text-center">Emergency Contact</th>
                        <th>Contact</th>
                        <th class="text-center">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model != null)
                    {
                        var index = 1;
                        <input class="js-page" value="s" hidden>
                        @foreach (var item in model)
                        {
                            <tr>
                                <td>@index</td>
                                <td>@item.FullNameEn</td>
                                <td>@item.Relationship?.NameEn</td>
                                <td class="text-nowrap">
                                    <partial name="_BooleanCheck" model="@item.IsMainParent"></partial>
                                </td>
                                <td class="text-nowrap">
                                    <partial name="_BooleanCheck" model="@item.IsEmergencyContact"></partial>
                                </td>
                                <td>
                                    <span class="d-block g-mb-5">
                                        @item.TelephoneNumber1
                                    </span>
                                    <span class="d-block">
                                        @item.Email
                                    </span>
                                </td>
                                <td class="text-nowrap td-actions">
                                    <a data-toggle="modal"
                                       data-target="#details-parent-modal"
                                       data-value="@item.Id">
                                        <i class="la la-info info"></i>
                                    </a>
                                    @if (isEditable)
                                    {
                                        <a data-toggle="modal"
                                       data-target="#edit-parent-modal"
                                       data-value="@item.Id">
                                            <i class="la la-edit edit"></i>
                                        </a>
                                        <a data-toggle="modal" 
                                       data-target="#delete-confirm-modal"
                                       data-controller="Parent"
                                       data-action="Delete"
                                       data-value="@item.Id">
                                            <i class="la la-trash delete"></i>
                                        </a>
                                    }
                                </td>
                            </tr>
                            index++;
                        }
                    }
                    else
                    {
                        <tr>
                            <td colspan="9">
                                <i class="text-danger">No Data</i>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</section>

<partial name="~/Views/Student/Parent/_CreateModal.cshtml" 
         model="@(ViewData["StudentId"].ToString() == Guid.Empty.ToString() ? new ParentInformation()
         : new ParentInformation { StudentId = (Guid)ViewData["StudentId"] })"/>
<partial name="~/Views/Student/Parent/_EditModal.cshtml" model="new ParentInformation()"/>
<partial name="~/Views/Student/Parent/_DetailsModal.cshtml" model="new ParentInformation()"/>