@model PagedResult<SectionQuota>
@{ 
    ViewData["Title"] = "Section Quota"; 
    var contextPath =  $"{ Context.Request.Path }{ Context.Request.QueryString }";
    var recordNumber = Model?.FirstRowOnPage;
}

<section class="row">
    <div class="col-12">
        <div class="block block--underline">
            <div class="block__title">
                <header>@ViewData["Title"]</header>
                <div class="tools">
                    <a class="btn btn--primary mb-0" asp-action="Create" asp-route-returnUrl="@contextPath">
                        <i class="la la-plus mr-1 font-weight-800"></i> Add Section Quota
                    </a>
                </div>
            </div>

            <div class="block__body">
                <form class="form-horizontal" asp-controller="SectionQuota" asp-action="Index" method="GET">
                    @Html.AntiForgeryToken()
                    <div class="row form-group mb-0">
                        <div class="col-3">
                            <select class="chosen-select form-control js-cascade-academic-level" asp-for="Criteria.AcademicLevelId" asp-items="@ViewBag.AcademicLevels">
                                <option selected disabled>Select</option>
                            </select>
                            <label>Academic Level</label>
                        </div>
                        <div class="col-3">
                            <select class="chosen-select form-control js-cascade-term" asp-for="Criteria.TermId" asp-items="@ViewBag.Terms">
                                <option selected value="">Select</option>
                            </select>
                            <label>Term</label>
                        </div>
                        <div class="col-3">
                            <select class="chosen-select form-control js-cascade-faculty" asp-for="Criteria.FacultyId" asp-items="ViewBag.Faculties" data-placeholder="Select">
                                <option selected value="">Select</option>
                            </select>
                            <label>Division</label>
                        </div>
                        <div class="col-3 align-self-end text-right">
                            <button class="btn btn-mw-120 btn--primary m-r-5 mb-0" type="submit">
                                <i class="la la-search mr-2"></i>Search
                            </button>
                            <button class="btn btn-mw-120 btn--reset js-reset-btn mb-0" type="reset">
                                Reset
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

@if (Model != null)
{
    <section class="row">
        <div class="col-12">
            <div class="block block--underline">
                <div class="block__title">
                    <header>Search Result (@(Model?.RowCount ?? 0))</header>
                </div>

                <div class="block__body">
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover w-100x">
                            <thead>
                                <tr>
                                    <th class="text-center">#</th>
                                    <th class="text-center">Term</th>
                                    <th>Division</th>
                                    <th class="text-center">Quota</th>
                                    <th class="text-center">Status</th>
                                    <th class="text-center">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model != null && Model.Results.Any())
                                {
                                    foreach (var item in Model.Results) 
                                    {
                                        <tr>
                                            <td>@recordNumber</td>
                                            <td>@item.Term?.TermText</td>
                                            <td>@item.Faculty?.NameEn</td>
                                            <td>@item.Quota</td>
                                            <td>
                                                <partial name="_BooleanActive" model="@item.IsActive">
                                            </td>
                                            <td class="text-nowrap td-actions">
                                                <a asp-controller="SectionQuota" 
                                                   asp-action="Edit" 
                                                   asp-route-Id="@item.Id"
                                                   asp-route-returnUrl="@contextPath">
                                                    <i class="la la-edit edit"></i>
                                                </a>
                                                <a data-toggle="modal" 
                                                   data-target="#delete-confirm-modal" 
                                                   data-controller="SectionQuota" 
                                                   data-action="Delete" 
                                                   data-value="@item.Id">
    						                        <i class="la la-trash delete"></i>
    					                        </a>
                                            </td>
                                        </tr>
                                        recordNumber++;
                                    }
                                }
                                else
                                {
                                    <tr>
                                        <td colspan="8">
                                            <i class="text-danger">No Data</i>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            @(await Component.InvokeAsync<PagerViewComponent>(Model))
        </div>
    </section>
}

<partial name="_DeleteConfirmModals"/>