@model PagedResult<CourseEquivalent>
@{ 
    ViewData["Title"] = "External Course Equivalent";
    var recordNumber = Model?.FirstRowOnPage;
}

<div class="row">
    <div class="ks-page-header col-lg-12">
        <h2 class="ks-page-header__title">@ViewData["Title"]</h2>
    </div>
</div>

<section class="row">
    <div class="col-12">
        <div class="block block--underline">
            <div class="block__title">
                <header>Search External Course Equivalent</header>
            </div>

            <div class="block__body">
                <form class="form-horizontal" asp-controller="ExternalCourseEquivalent" asp-action="Index" method="GET">
                    @Html.AntiForgeryToken()
                    <div class="row form-group mb-0">
                        <div class="col-3">
                            <select class="chosen-select form-control" asp-for="Criteria.TransferUniversityId" asp-items="ViewBag.Universities" data-placeholder="Select">
                                <option selected value="">Select</option>
                            </select>
                            <label>Transfer University</label>
                        </div>
                        <div class="col-3">
                            <select class="chosen-select form-control" asp-for="Criteria.EffectivedStatus" asp-items="@ViewBag.EffectivedStatuses" data-placeholder="Select"></select>
                            <label>Effectived Course</label>
                        </div>
                        <div class="col-3">
                            <select class="chosen-select form-control" asp-for="Criteria.Status" asp-items="@ViewBag.Statuses" data-placeholder="Select"></select>
                            <label>Status</label>
                        </div>
                        <div class="col-3 align-self-end text-right">
                           <button class="btn btn-mw-120 btn--primary mb-0 m-r-5" type="submit">
                                <i class="la la-search mr-2"></i>Search
                            </button>
                            <button class="btn btn-mw-120 btn--reset mb-0 js-reset-btn" type="reset">
                                Reset
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

<section id="data-table-v1" class="row">
    <div class="col-md-12 col-lg-12">
        <div class="block block--underline">
            <div class="block__title">
                <header>Search Result (@(Model?.RowCount ?? 0))</header>
                <div class="tools pr-4">
                    <a class="btn btn--primary" asp-action="Create">
                        <i class="la la-plus mr-1 font-weight-800"></i> Add External Course Equivalent
                    </a>
                </div>
            </div>
            <div class="block__body text-left height-3">
                <div class="table-responsive">
                    <table id="js-credit-load" class="table table-bordered table-hover w-100x">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>University</th>
                                <th>Course</th>
                                <th>Equilavent Course</th>
                                <th class="text-center">Effectived At</th>
                                <th class="text-center">Ended At</th>
                                <th class="text-center">Status</th>
                                <th class="text-nowarp text-center no-sort">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model.Results != null && Model.Results.Any())
                            {
                                foreach(var item in Model.Results) 
                                {
                                    <tr>
                                        <td rowspan="2">@recordNumber</td>
                                        <td>@item.Course?.TransferUniversity?.NameEn</td>
                                        <td>@item.Course?.CourseAndCredit</td>
                                        <td>@item.EquilaventCourse?.CourseAndCredit</td>
                                        <td>@item.EffectivedAtText</td>
                                        <td>@item.EndedAtText</td>
                                        <td>
                                            <partial name="_BooleanActive" model="@item.IsActive" />
                                        </td>
                                        <td class="text-nowrap td-actions">
                                            <a asp-controller="ExternalCourseEquivalent" asp-action="Edit" asp-route-Id="@item.Id">
                                                <i class="la la-edit edit"></i>
                                            </a>
                                            <a data-toggle="modal" 
                                               data-target="#delete-confirm-modal" 
                                               data-controller="ExternalCourseEquivalent" 
                                               data-action="Delete" 
                                               data-value="@item.Id">
                                                <i class="la la-trash delete"></i>
                                            </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="8">@item.Remark</td>
                                    </tr>
                                    recordNumber++;
                                }
                            }
                            else
                            {
                                <tr>
                                    <td class="text-center" colspan="9">
                                        <i class="text-danger">No Data</i>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>

<partial name="_DeleteConfirmModals" />