@model PagedResult<Course>
@{ 
    ViewData["Title"] = "External Course";
    var contextPath =  $"{ Context.Request.Path }{ Context.Request.QueryString }";
    var recordNumber = Model?.FirstRowOnPage;
}

<section class="row">
    <div class="ks-page-header col-lg-12">
        <h2 class="ks-page-header__title">@ViewData["Title"]</h2>
        <ul class="d-flex flex-md-row align-items-md-center float-right">
            <li class="list-inline-item mx-3 mb-0">
                <a class='btn btn--primary' asp-action="Create" asp-route-returnUrl="@contextPath">
                    <i class="la la-plus mr-1 font-weight-800"></i> Add External Course
                </a>
            </li>
        </ul>
    </div>
</section>

<section class="row">
    <div class="col-12">
        <div class="block block--underline">
            <div class="block__title">
                <header>Search External Course</header>
            </div>

            <div class="block__body">
                <form class="form-horizontal" asp-controller="ExternalCourse" asp-action="Index" method="GET">
                    @Html.AntiForgeryToken()
                    <div class="row form-group mb-0">
                        <div class="col-4">
                            <select class="chosen-select form-control" asp-for="Criteria.TransferUniversityId" asp-items="ViewBag.TransferUniversities">
                                <option selected>Select</option>
                            </select>
                            <label>University</label>
                        </div>
                        <div class="col-4">
                            <input class="form-control" asp-for="Criteria.CodeAndName" type="text">
                            <label>Name</label>
                        </div>
                        <div class="col-4 align-self-end text-right">
                           <button class="btn btn-mw-120 btn--primary mb-0 m-r-5" type="submit">
                                <i class="la la-search mr-2"></i>Search
                            </button>
                            <button class="btn btn-mw-120 btn--reset mb-0 js-reset-btn" type="reset">
                                Reset
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

<section class="row">
    <div class="col-12">
        <div class="block block--underline">
            <div class="block__title">
                <header>Search Result (@(Model?.RowCount ?? 0))</header>
            </div>
            
            <div class="block__body">
                <div class="table-responsive">
                    <table class="table table-bordered table-hover w-100x">
                        <thead>
                            <tr>
                                <th class="text-center">#</th>
                                <th>Academic Level</th>
                                <th>Transfer University</th>
                                <th>Course</th>
                                <th>Credit</th>
                                <th>Transcript Name</th>
                                <th>Description</th>
                                <th class="text-center">Calculate Credit</th>
                                <th class="text-center">Status</th>
                                <th class="text-center">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model != null && Model.Results.Any())
                            {
                                @foreach (var item in Model.Results) 
                                {
                                    <tr>
                                        <td>@recordNumber</td>
                                        <td>@item.AcademicLevel?.NameEn</td>
                                        <td>@item.TransferUniversity?.NameEn</td>
                                        <td>@item.CodeAndName</td>
                                        <td>@item.CreditText</td>
                                        <td>@($"{ item.TranscriptNameEn1 } { item.TranscriptNameEn2 } { item.TranscriptNameEn3 }")</td>
                                        <td>@item.DescriptionEn</td>
                                        <td>
                                            <partial name="_BooleanResult" model="@item.IsCalculateCredit">
                                        </td>
                                        <td>
                                            <partial name="_BooleanActive" model="@item.IsActive">
                                        </td>
                                        <td class="text-nowrap td-actions">
                                            <a asp-controller="ExternalCourse" asp-action="Edit" asp-route-Id="@item.Id" asp-route-returnUrl="@contextPath">
                                                <i class="la la-edit edit"></i>
                                            </a>
                                            <a data-toggle="modal" 
                                               data-target="#delete-confirm-modal" 
                                               data-controller="ExternalCourse" 
                                               data-action="Delete" 
                                               data-value="@item.Id">
                                                <i class="la la-trash delete"></i>
                                            </a>
                                        </td>
                                    </tr>
                                    recordNumber++;
                                }
                            }
                            else
                            {
                                <tr>
                                    <td colspan="10">
                                        <i class="text-danger">No Data</i>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        @(await Component.InvokeAsync<PagerViewComponent>(Model))
    </div>
</section>

@section Modals {
    <partial name="_DeleteConfirmModals">
}