@model List<ReservationCalendar>
@{ 
    ViewData["Title"] = "Blocked Room Reservation / Make Up Period Settings";
    var index = 1;
}

<div class="row">
    <div class="ks-page-header col-lg-12">
        <h2 class="ks-page-header__title">@ViewData["Title"]</h2>
        <ul class="d-flex flex-md-row align-items-md-center float-right">
            <li class="list-inline-item mx-3 mb-0">
                <a class='btn btn--primary' asp-action="Create">
                    <i class="la la-plus mr-1 font-weight-800"></i> Add Blocked Room Reservation / Make Up Period
                </a>
            </li>
        </ul>
    </div>
</div>

<section id="data-table-v1" class="row">
    <div class="col-md-12 col-lg-12">
        <div class="block block--underline">
            <div class="block__body text-left height-3">
                <div class="table-responsive">
                    <table id="js-faculty" class="table table-bordered table-hover w-100x">
                        <thead>
                            <tr>
                                <th class="text-center">#</th>
                                <th>Name</th>
                                <th>Started Date</th>
                                <th>Ended Date</th>
                                <th class="text-center">Last Update</th>
                                <th class="no-sort text-center">Status</th>
                                <th class="text-nowarp text-center no-sort">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach(var item in Model) 
                            {
                                <tr>
                                    <td>@index</td>
                                    <td>@item.Name</td>
                                    <td>@item.StartedDate</td>
                                    <td>@item.EndedDate</td>
                                    <td>@item.UpdatedDateTimeText</td>
                                    <td>
                                        <partial name="_BooleanActive" model="@item.IsActive" />
                                    </td>
                                    <td class="text-nowrap td-actions">
                                        <a asp-controller="ReservationCalendar" asp-action="Edit" asp-route-Id="@item.Id">
                                           <i class="la la-edit edit"></i>
                                        </a>
                                        <a  data-toggle="modal" 
                                            data-target="#delete-confirm-modal" 
                                            data-controller="ReservationCalendar" 
                                            data-action="Delete" 
                                            data-value="@item.Id">
						                    <i class="la la-trash delete"></i>
					                    </a>
                                    </td>
                                </tr>
                                index++;
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>

<partial name="_DeleteConfirmModals" />

@section Scripts {
    <script>
        $(document).ready(function() {
            $('#js-faculty').DataTable({
                "columnDefs": [{
                    "targets": "no-sort",
                    "orderable": false
                }]
            });
        });
    </script>
}