@model RefundCoursesViewModel
@{
    ViewData["Title"] = "Refund";
}

<section class="row">
    <div class="ks-page-header col-12">
        <h2 class="ks-page-header__title">@ViewData["Title"]</h2>
    </div>
</section>

<section class="row">
    <div class="col-12">
        <div class="block block--underline">
            <div class="block__title">
                <header>Search Student's Registration</header>
            </div>
            
            <div class="block__body">
                <form asp-controller="RefundCourses" asp-action="Index" method="GET">
                    @Html.AntiForgeryToken()
                    <div class="row form-group">
                        <div class="col-3">
                            <select class="chosen-select form-control js-cascade-academic-level" asp-for="AcademicLevelId" asp-items="@ViewBag.AcademicLevels">
                                <option selected disabled>Select</option>
                            </select>
                            <label>Academic Level<span class="text-danger">*</span></label>
                        </div>
                        <div class="col-2">
                            <select class="chosen-select form-control js-cascade-term" asp-for="TermId" asp-items="@ViewBag.Terms">
                                <option selected disabled>Select</option>
                            </select>
                            <label>Term<span class="text-danger">*</span></label>
                        </div>
                        <div class="col-3">
                            <input class="form-control" asp-for="StudentCode" autocomplete="off">
                            <label>Student Code<span class="text-danger">*</span></label>
                        </div>
                        <div class="col-4 align-self-end">
                            <button class="btn btn-mw-120 btn--primary mb-0 m-r-5 search-refund" type="submit">
                                <i class="la la-search mr-2"></i>
                                <span class="bold">Search</span>
                            </button>
                            <button class="btn btn-mw-120 btn--reset mb-0 js-reset-btn" type="button">
                                Reset
                            </button>
                        </div>
                        <input id="studentId" asp-for="StudentId" type="hidden" value="@Model.StudentId">
                    </div>
                </form>
            </div>
        </div>
        @if (Model?.ReceiptItems != null)
        {
            <form class="form-horizontal" asp-controller="RefundCourses" asp-action="RefundCourses" method="POST">  
                <partial name="_Result" model="@Model">
                
                <input asp-for="AcademicLevelId" type="hidden">
                <input asp-for="TermId" type="hidden">
                <input asp-for="StudentCode" type="hidden">
                <input asp-for="StudentId" type="hidden">
            </form>
        }
    </div>
</section>

@section Modals {
    <partial name="_DeleteRowConfirmModals">
}

@section Scripts {
    <script type="text/javascript" src="~/js/pages/refund-courses.js"></script>
}