@model PagedResult<QuestionnaireCourseGroupViewModel>
@{ 
    ViewData["Title"] = "Questionnaire Course Group"; 
    var contextPath =  $"{ Context.Request.Path }{ Context.Request.QueryString }";
    var recordNumber = Model?.FirstRowOnPage;
}

<div class="row">
    <div class="ks-page-header col-12">
        <h2 class="ks-page-header__title">@ViewData["Title"]</h2>
        <ul class="d-flex flex-md-row align-items-md-center float-right">
            <li class="list-inline-item mx-3 mb-0">
                <a class='btn btn--primary' asp-action="Create" asp-route-returnUrl="@contextPath">
                    <i class="la la-plus mr-1 font-weight-800"></i> Add Questionnaire Course Group
                </a>
            </li>
        </ul>
    </div>
</div>

<section class="row">
    <div class="col-12">
        <div class="block block--underline">
            <div class="block__title">
                <header>Search Result (@(Model?.RowCount ?? 0))</header>
            </div>

            <div class="block__body">
                <div class="table-responsive">
                    <table class="table table-bordered table-hover w-100x">
                        <thead>
                            <tr>
                                <th class="text-center">#</th>
                                <th>Name</th>
                                <th>Discription</th>
                                <th>Course</th>
                                <th class="text-center">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model != null && Model.Results.Any())
                            {
                                foreach (var item in Model.Results) 
                                {
                                    <tr>
                                        <td>@recordNumber</td>
                                        <td>@item.Name</td>
                                        <td>@item.Description</td>
                                        <td>@item.CourseText</td>
                                        <td class="text-nowrap td-actions">
                                            <a asp-controller="QuestionnaireCourseGroup" 
                                               asp-action="Edit" 
                                               asp-route-Id="@item.QuestionnaireCourseGroupId"
                                               asp-route-returnUrl="@contextPath">
                                                <i class="la la-edit edit"></i>
                                            </a>
                                            <a data-toggle="modal" 
                                               data-target="#delete-confirm-modal" 
                                               data-controller="QuestionnaireCourseGroup" 
                                               data-action="Delete" 
                                               data-value="@item.QuestionnaireCourseGroupId">
                                                <i class="la la-trash delete"></i>
                                            </a>
                                        </td>
                                    </tr>
                                    recordNumber++;
                                }
                            }
                            else
                            {
                                <tr>
                                    <td colspan="5">
                                        <i class="text-danger">No Data</i>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        @(await Component.InvokeAsync<PagerViewComponent>(Model))
    </div>
</section>

@section Modals {
    <partial name="_DeleteConfirmModals">
}