@model ExtendedStudentViewModel
@{ 
    ViewData["Title"] = "Add Extended Student";
    var index = 0;
    var contextPath =  $"{ Context.Request.Path }{ Context.Request.QueryString }";
} 

<div class="row">
	<div class="ks-page-header col-lg-12">
		<h2 class="ks-page-header__title">
            <a class="btn-back" href="@ViewBag.ReturnUrl">
                <i class="la la-angle-double-left mr-1"></i>Back
            </a>
		</h2>
	</div>
</div>

<section class="row">
    <div class="col-12">
        <div class="block block--underline">
            <div class="block__title">
                <header>Add Extended Student</header>
                <div class="tools">
                    <div class="btn-group">
                        <a class="btn btn--white btn--circle">
                            <i class="la la-angle-down"></i>
                        </a>
                    </div>
                </div>
            </div>

            <div class="block__body">
                <form class="form-horizontal" asp-action="Create" method="GET">
                    @Html.AntiForgeryToken()
                    <input name="returnUrl" value="@ViewBag.ReturnUrl" type="hidden">
                    <div class="row form-group">
                        <div class="col-3">
                            <select class="chosen-select form-control js-cascade-academic-level" asp-for="Criteria.AcademicLevelId" asp-items="ViewBag.AcademicLevels">
                                <option selected disabled>Select</option>
                            </select>
                            <label>Academic Level<span class="text-danger">*</span></label>
                        </div>
                        <div class="col-3">
                            <select class="chosen-select form-control js-cascade-faculty" data-placeholder="Select" asp-for="Criteria.FacultyId" asp-items="ViewBag.Faculties">
                                <option selected value="">Select</option>
                            </select>
                            <label>Division</label>
                        </div>
                        <div class="col-3">
                            <select class="chosen-select form-control js-cascade-department" data-placeholder="Select" asp-for="Criteria.DepartmentId" asp-items="ViewBag.Departments">
                                <option selected value="">Select</option>
                            </select>
                            <label>Major</label>
                        </div>
                        <div class="col-3">
                            <select class="chosen-select form-control js-cascade-term" asp-for="Criteria.TermId" asp-items="ViewBag.Terms">
                                <option selected value="">Select</option>
                            </select>
                            <label>Admission Term</label>
                        </div>
                    </div>
                    
                    <div class="row form-group">
                        <div class="col-3">
                            <input asp-for="Criteria.ExtendedYear" class="form-control" type="number">
                            <label>Year<span class="text-danger">*</span></label>
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col-12 align-self-end text-right text-nowrap">
                            <button class="btn btn--primary btn-mw-120 m-r-5 mb-0" type="submit">
                                <i class="la la-search mr-2"></i>Search
                            </button>
                            <button class="btn btn-mw-120 btn--reset js-reset-btn mb-0" type="button">
                                Reset
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

@if (Model != null)
{
    <section class="row">
        <div class="col-12">
            <form id="js-submit-extended-student" method="POST">
                <div class="block block--underline">
                    <div class="block__title">
                        <header>Student List</header>
                        <div class="tools pr-4">
                            <button class="btn btn-mw-120 btn--primary mb-0 js-save-submit" type="submit" data-target="Create" disabled>
                                <i class="la la-save mr-2 font-weight-700"></i>Save Extended
                            </button>
                        </div>
                    </div>

                    <input id="extened-return-url" name="returnUrl" value="@contextPath" type="hidden">
                    <input id="extened-academic-level-id" name="academicLevelId" value="@ViewBag.AcademicLevelId" type="hidden">

                    <div class="block__body">
                        <div class="table-responsive">
                            <table id="js-extended-student" class="table table-bordered m-0">
                                <thead>
                                    <tr>
                                        <th class="text-center w-50">
                                            <input id="check-all" class="js-check-all" name="select-item" type="checkbox">
                                            <label class="mt-2 mb-0 ml-1" for="check-all"></label>
                                        </th>
                                        <th class="text-center">Code</th>
                                        <th>Full Name</th>
                                        <th>Major</th>
                                        <th class="text-center">Admission Term</th>
                                        <th class="text-center">Year</th>
                                        <th class="text-nowarp text-center no-sort">Actions</th>
                                    </tr>
                                </thead>
                                <tbody class="js-items">
                                    @if (Model.Students.Any())
                                    {
                                        foreach (var item in Model.Students) 
                                        {
                                            <tr>
                                                <td>
                                                    <input id="check@(index)" class="js-check-student" name="Students[@index].IsCheck" type="checkbox" />
                                                    <label class="form-check-input m-0" for="check@(index)"></label>
                                                </td>
                                                <td>
                                                    @item.StudentCode
                                                    <input class="js-get-guid" name="Students[@index].StudentId" value="@item.StudentId" type="hidden"/>
                                                    <input class="js-check-send-email" name="Students[@index].IsSendEmail" value="@item.IsSendEmail" type="hidden"/>
                                                    <input class="js-get-extendedyear" name="Students[@index].ExtendedYear" value="@item.ExtendedYear" type="hidden"/>
                                                </td>
                                                <td>@item.StudentName</td>
                                                <td>@item.Department</td>
                                                <td>@item.AdmissionTerm</td>
                                                <td>@item.StudiedYear</td>
                                                <td class="text-nowrap td-actions">
                                                    <a asp-controller="Student"
                                                       asp-action="Details"
                                                       asp-route-id="@item.StudentId"
                                                       asp-route-returnUrl="@contextPath">
                                                        <i class="la la-info info"></i>
                                                    </a>
                                                </td>
                                            </tr>
                                            index++;
                                        }
                                    }
                                    else
                                    {
                                        <tr>
                                            <td colspan="7">
                                                <i class="text-danger">No Data</i>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </section>
}

@section Scripts {
    <script type="text/javascript" src="~/js/pages/extended-student.js"></script>
}