@model StudentGraduationReportViewModel
@{ 
    ViewData["Title"] = "Student Graduation Report";
    var index = 1;
}

<section class="row">
    <div class="col-12">
        <div class="block block--underline">
            <div class="block__title">
                <header>@ViewData["Title"]</header>
            </div>

            <div class="block__body">
                <form class="form-horizontal" asp-controller="StudentGraduationReport" asp-action="Index" method="GET">
                    @Html.AntiForgeryToken()
                    <div class="row form-group">
                        <div class="col-3">
                            <select class="chosen-select form-control js-cascade-academic-level" asp-for="Criteria.AcademicLevelId" asp-items="ViewBag.AcademicLevels">
                                <option selected disabled>Select</option>
                            </select>
                            <label>Academic Level<span class="text-danger">*</span></label>
                        </div>
                        <div class="col-3">
                            <select class="chosen-select form-control js-cascade-term" asp-for="Criteria.TermId" asp-items="ViewBag.Terms">
                                <option selected disabled>Select</option>
                            </select>
                            <label>Graduated Term<span class="text-danger">*</span></label>
                        </div>
                        <div class="col-3">
                            <select class="chosen-select form-control js-cascade-faculty" asp-for="Criteria.FacultyId" asp-items="ViewBag.Faculties">
                                <option selected value="">Select</option>
                            </select>
                            <label>Division</label>
                        </div>
                        <div class="col-3">
                            <select class="chosen-select form-control js-cascade-department" asp-for="Criteria.DepartmentId" asp-items="ViewBag.Departments">
                                <option selected value="">Select</option>
                            </select>
                            <label>Major</label>
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col-3">
                            <select class="chosen-select form-control js-cascade-curriculum" asp-for="Criteria.CurriculumId" asp-items="ViewBag.Curriculums">
                                <option selected value="">Select</option>
                            </select>
                            <label>Curriculum</label>
                        </div>
                        <div class="col-3">
                            <select class="chosen-select form-control js-cascade-curriculum-version" asp-for="Criteria.CurriculumVersionId" asp-items="ViewBag.CurriculumVersions">
                                <option selected value="">Select</option>
                            </select>
                            <label>Curriculum Version</label>
                        </div>
                        <div class="col-3">
                            <select class="chosen-select form-control" asp-for="Criteria.HonorId" asp-items="ViewBag.Honors">
                                <option selected value="">Select</option>
                            </select>
                            <label>Honor</label>
                        </div>
                        <div class="col-3">
                            <select class="chosen-select form-control" asp-for="Criteria.Gender" asp-items="ViewBag.Genders">
                                <option selected value="">Select</option>
                            </select>
                            <label>Gender</label>
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col-3">
                            <select class="chosen-select form-control" asp-for="Criteria.StudentFeeTypeId" asp-items="ViewBag.StudentFeeTypes">
                                <option selected value="">Select</option>
                            </select>
                            <label>Student Fee Type</label>
                        </div>
                        <div class="col-3">
                            <select class="chosen-select form-control" asp-for="Criteria.ResidentTypeId" asp-items="ViewBag.ResidentTypes">
                                <option selected value="">Select</option>
                            </select>
                            <label>Resident Type</label>
                        </div>
                        <div class="col-3">
                            <input class="form-control" asp-for="Criteria.StartStudentBatch" type="text">
                            <label>Batch From</label>
                        </div>
                        <div class="col-3">
                            <input class="form-control" asp-for="Criteria.EndStudentBatch" type="text">
                            <label>Batch To</label>
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col-3">
                            <input class="form-control" asp-for="Criteria.GPAFrom" type="number">
                            <label>GPA From</label>
                        </div>
                        <div class="col-3">
                            <input class="form-control" asp-for="Criteria.GPATo" type="number">
                            <label>GPA To</label>
                        </div>
                        <div class="col-3">
                            <input class="form-control" asp-for="Criteria.Code" type="text">
                            <label>Code</label>
                        </div>
                        <div class="col-3">
                            <input class="form-control" asp-for="Criteria.CodeAndName" type="text">
                            <label>Name</label>
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col-3">
                            <select class="chosen-select form-control" asp-for="Criteria.StudentStatus" asp-items="ViewBag.StudentStatuses"></select>
                            <label>Student Status</label>
                        </div>
                        <div class="col-3">
                            <select class="chosen-select form-control" asp-for="Criteria.Status" asp-items="ViewBag.Statuses"></select>
                            <label>Active</label>
                        </div>
                        <div class="col-6 align-self-end text-right">
                            <button class="btn btn-mw-120 btn--primary m-r-5 mb-0" type="submit">
                                <i class="la la-search mr-2"></i>Search
                            </button>
                            <button class="btn btn-mw-120 btn--reset js-reset-btn mb-0" type="reset">
                                Reset
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

<section class="row">
    <div class="col-12">
        <div class="block block--underline">
            <div class="block__title">
                <header>Search Result (@(Model?.Results?.Count() ?? 0))</header>
            </div>

            <div class="block__body">
                <div class="table-responsive unset-overflow">
                    <table id="js-student-graduating-report" class="table table-bordered js-student-graduating-report w-100x">
                        <thead>
                            <tr>
                                <th class="text-center no-print">#</th>
                                <th class="text-center">Student Id</th>
                                <th>Title</th>
                                <th>English First Name</th>
                                <th>English Middle Name</th>
                                <th>English Last Name</th>
                                <th>Title Th</th>
                                <th>Native First Name</th>
                                <th>Native Middle Name</th>
                                <th>Native Last Name</th>
                                <th>Fee Type</th>
                                <th>Resident Type</th>
                                <th class="text-center">Status</th>
                                <th class="text-center">Status Updated At</th>
                                <th class="text-center">Intake Term</th>
                                <th>Major Code</th>
                                <th class="text-center">CGPA</th>
                                <th class="text-center">Taken Credits</th>
                                <th>Mobile Number</th>
                                <th>Phone Number</th>
                                <th>Address</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model != null && Model.Results.Any())
                            {
                                foreach (var item in Model.Results)
                                {
                                    var address = item.StudentAddresses?.FirstOrDefault(x => x.Type == "c");
                                    <tr>
                                        <td class="no-print">@index</td>
                                        <td>@item.StudentCode</td>
                                        <td>@item.TitleEn</td>
                                        <td>@item.FirstNameEn</td>
                                        <td>@item.MidNameEn</td>
                                        <td>@item.LastNameEn</td>
                                        <td>@(string.IsNullOrEmpty(item.FirstNameTh) ? "" : item.TitleTh)</td>
                                        <td>@item.FirstNameTh</td>
                                        <td>@item.MidNameTh</td>
                                        <td>@item.LastNameTh</td>
                                        <td>@item.StudentFeeTypeEn</td>
                                        <td>@item.ResidentTypeEn</td>
                                        <td>@item.StudentStatusText</td>
                                        <td>@item.GraduatedAtText</td>
                                        <td>@item.AdmissionTermText</td>
                                        <td>@item.DepartmentCode</td>
                                        <td>@item.GPAString</td>
                                        <td>@item.CreditComp</td>
                                        <td>@item.TelephoneNumber</td>
                                        <td>@address?.TelephoneNumber</td>
                                        <td>@address?.AddressEn1</td>
                                    </tr>
                                    ++index;
                                }
                            }
                            else
                            {
                                <tr>
                                    <td colspan="24">
                                        <i class="text-danger">No Data</i>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    <script type="text/javascript" src="~/js/pages/student-graduating-report.js"></script>
}