@model CopyCurriculumViewModel
@{
	ViewData["Title"] = "Copy Curriculum";
    var contextPath =  $"{ Context.Request.Path }{ Context.Request.QueryString }";
}
<div class="row">
	<div class="ks-page-header col-lg-12">
		<h2 class="ks-page-header__title">
            <a class="btn-back" href="@ViewBag.ReturnUrl">
                <i class="la la-angle-double-left mr-1"></i>Back
            </a>
		</h2>
	</div>
</div>

<section class="row">
    <div class="col-12">
        <div class="block block--underline">
            <div class="block__title">
                <header>Target Curriculum Version</header>
            </div>

		    <div class="block__body">
		    	<form asp-controller="CurriculumVersion" asp-action="CreateCopyVersion" asp-route-returnUrl="@contextPath" method="GET">
                    @Html.AntiForgeryToken()
                    <div class="row form-group m-b-30">
		    			<div class="col-3">
		    				<select class="chosen-select form-control js-cascade-curriculum" asp-for="MasterCurriculumId"
                                    asp-items="ViewBag.Curriculums" data-placeholder="Select">
		    					<option selected disabled>Select</option>
		    				</select>
		    				<label>Curriculum</label>
		    			</div>
                        <div class="col-3">
                            <select class="chosen-select form-control js-cascade-curriculum-version" asp-for="CurriculumVersionId"
                                    asp-items="ViewBag.CurriculumVersions" data-placeholder="Select">
                                <option selected disabled>Select</option>
                            </select>
                            <label>Curriculum Version</label>
                        </div>
                    </div>
                    <input asp-for="AcademicLevelId" type="hidden">
                    <input asp-for="CurriculumId" type="hidden">

                    <div class="row form-group mb-0">
		    			<div class="col-12 text-right text-nowrap">
		    				<button class="btn btn--primary btn-mw-120 m-r-5 mb-0" type="submit">
		    					<i class="la la-search mr-2"></i>Search
		    				</button>
		    				<a class="btn btn-mw-120 btn--reset mb-0" asp-action="CreateCopyVersion" asp-route-curriculumId="@Model?.MasterCurriculumId" asp-route-academicLevelId="@Model?.AcademicLevelId" asp-route-returnUrl="@ViewBag.ReturnUrl">
		    					Reset
		    				</a>
		    			</div>
		    		</div>
		    	</form>
		    </div>
        </div>
	</div>
</section>

@if (Model.Version != null)
{
    <section class="row">
        <div class="col-12">
            <form class="form-horizontal" asp-action="CreateCopyVersion" asp-route-returnUrl="@contextPath" method="POST">
                <div class="block block--underline">
                    <div class="block__title">
                        <header>Copy Curriculum Version</header>
                        <input asp-for="AcademicLevelId" type="hidden">
                        <input asp-for="MasterCurriculumId" type="hidden">
                        <input asp-for="CurriculumId" type="hidden">
                        <input asp-for="CurriculumVersionId" type="hidden">
                    </div>
                    <div class="block__body">
                        <div class="row form-group">
                            <div class="col-6">
                                <input class="form-control" asp-for="Version.Code">
                                <label>ID<span class="text-danger">*</span></label>
                                <span class="text-danger help-block" asp-validation-for="Version.Code"></span>
                            </div>
                            <div class="col-3">
                                <select class="chosen-select form-control" asp-for="Version.AcademicProgramId" asp-items="ViewBag.AcademicPrograms">
                                    <option selected disabled>Select</option>
                                </select>
                                <label for="AcademicProgramId">Academic Program</label>
                            </div>
                            <div class="col-3">
                                <input class="form-control js-single-date" asp-for="Version.ApprovedDate" type="text" autocomplete="off">
                                <label for="ApprovedDate">Approved Date</label>
                            </div>
                        </div>
                    <div class="row form-group">
                        <div class="col-6">
                            <input class="form-control" asp-for="Version.NameEn">
                            <label>English Name<span class="text-danger">*</span></label>
                            <span class="text-danger help-block" asp-validation-for="Version.NameEn"></span>
                        </div>
                        <div class="col-6">
                            <input class="form-control" asp-for="Version.NameTh">
                            <label>Thai Name<span class="text-danger">*</span></label>
                            <span class="text-danger help-block" asp-validation-for="Version.NameTh"></span>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-6">
                            <input class="form-control" asp-for="Version.DegreeNameEn">
                            <label>English Degree Name<span class="text-danger">*</span></label>
                            <span class="text-danger help-block" asp-validation-for="Version.DegreeNameEn"></span>
                        </div>
                        <div class="col-6">
                            <input class="form-control" asp-for="Version.DegreeNameTh">
                            <label>Thai Degree Name<span class="text-danger">*</span></label>
                            <span class="text-danger help-block" asp-validation-for="Version.DegreeNameTh"></span>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-6">
                            <input class="form-control" asp-for="Version.DegreeAbbreviationEn">
                            <label>English Degree Abbreviation</label>
                        </div>
                        <div class="col-md-6">
                            <input class="form-control" asp-for="Version.DegreeAbbreviationTh">
                            <label>Thai Degree Abbreviation</label>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-4">
                            <select class="chosen-select form-control js-cascade-term" asp-for="Version.ImplementedTermId" asp-items="ViewBag.Terms">
                                <option selected disabled>Select</option>
                            </select>
                            <label for="ImplementedTermId">Implemented Term<span class="text-danger">*</span></label>
                        </div>
                        <div class="col-4">
                            <select class="chosen-select form-control js-cascade-term" asp-for="Version.OpenedTermId" asp-items="ViewBag.Terms">
                                <option selected disabled>Select</option>
                            </select>
                            <label for="OpenedTermId">Open Term</label>
                        </div>
                        <div class="col-4">
                            <select class="chosen-select form-control js-cascade-term" asp-for="Version.ClosedTermId" asp-items="ViewBag.Terms">
                                <option selected disabled>Select</option>
                            </select>
                            <label for="ClosedTermId">Close Term</label>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-4">
                            <input class="form-control" type="number" asp-for="Version.MinimumTerm">
                            <label>Minimum Term<span class="text-danger">*</span></label>
                            <span class="text-danger help-block" asp-validation-for="Version.MinimumTerm"></span>
                        </div>
                        <div class="col-4">
                            <input class="form-control" type="number" asp-for="Version.MaximumTerm">
                            <label>Manximum Term<span class="text-danger">*</span></label>
                            <span class="text-danger help-block" asp-validation-for="Version.MaximumTerm"></span>
                        </div>
                        <div class="col-4">
                            <input class="form-control" type="number" asp-for="Version.TotalCredit" min=0>
                            <label>Total Credit<span class="text-danger">*</span></label>
                            <span class="text-danger help-block" asp-validation-for="Version.TotalCredit"></span>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-4">
                            <input class="form-control" type="number" asp-for="Version.StartBatch">
                            <label>Batch From</label>
                        </div>
                        <div class="col-4">
                            <input class="form-control" type="number" asp-for="Version.EndBatch">
                            <label>Batch To</label>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-12">
                            <h4>Instructors of Curriculum</h4>
                            <select class="chosen-select form-control js-cascade-multiple-instructor" asp-for="Version.CurriculumInstructorIds"
                                    asp-items="ViewBag.Instructors" data-placeholder="Select" multiple></select>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-12">
                            <h4>Thesis Instructors</h4>
                            <select class="chosen-select form-control js-cascade-multiple-instructor" asp-for="Version.ThesisInstructorIds" 
                                    asp-items="ViewBag.Instructors" data-placeholder="Select" multiple></select>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-12">
                            <h4>Instructors</h4>
                            <select class="chosen-select form-control js-cascade-multiple-instructor" asp-for="Version.InstructorIds"
                                    asp-items="ViewBag.Instructors" data-placeholder="Select" multiple></select>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-12">
                            <input class="form-control" asp-for="Version.Remark" type="text">
                            <label for="Remark">Remark</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-check">
                            <input id="IsCopyPrerequisite" class="form-check-input" asp-for="IsCopyPrerequisite" type="checkbox">
                            <label for="IsCopyPrerequisite">Copy Prerequisite</label>
                        </div>
                    </div>
                        <div class="row">
                            <div class="form-check">
                                <input id="IsCopySpecializeGroup" class="form-check-input" asp-for="IsCopySpecializeGroup" type="checkbox">
                                <label for="IsCopySpecializeGroup">Copy Specialization Group</label>
                            </div>
                        </div>
                    <div class="row">
                        <div class="form-check">
                            <input id="IsCopyBlacklistCourses" class="form-check-input" asp-for="IsCopyBlacklistCourses" type="checkbox">
                            <label for="IsCopyBlacklistCourses">Copy Blacklist Courses</label>
                        </div>
                    </div>
                        <div class="row">
                            <div class="form-check">
                                <input id="IsCopyCoRequisiteAndCourseEquivalent" class="form-check-input" asp-for="IsCopyCoRequisiteAndCourseEquivalent" type="checkbox">
                                <label for="IsCopyCoRequisiteAndCourseEquivalent">Copy Corequisite And Course Equivalent</label>
                            </div>
                        </div>
                    <div class="row">
                        <div class="form-check">
                            <input id="IsActive" class="form-check-input" asp-for="Version.IsActive" type="checkbox">
                            <label for="IsActive">Active</label>
                        </div>
                    </div>

                    <div class="col-12">
                        <div class="d-flex justify-content-between py-1 m-t-10 m-b-10">
                            <span class="color-primary font-weight-700">Course group</span>
                        </div>
                        <div class="box-scroll__content js-render-nicescroll p-0 m-b-50">
                            <table class="table table-bordered m-0 js-course-group-checklist">
                                <thead class="scroll-header">
                                    <tr>
                                        <th class="w-50">
                                            <input id="check-all" class="js-check-all" name="select-item" type="checkbox">
                                            <label class="mt-2 mb-0 m-l-1" for="check-all"></label>
                                        </th>
                                        <th>English Group Name</th>
                                        <th>Minor/Concentration</th>
                                        <th>Type</th>
                                        <th class="text-center">Required Grade</th>
                                        <th class="text-center">Total Credit</th>
                                    </tr>
                                </thead>
                                <tbody class="js-items">
                                    @if (Model?.CourseGroup != null && Model.CourseGroup.Any())
                                    {
                                        var i = 0;
                                        foreach (var item in Model.CourseGroup)
                                        {
                                            <tr class="js-suggestion-parent">
                                                <td>
                                                    <input id="check@(i)" type="checkbox"
                                                           asp-for="@Model.CourseGroup[i].IsSelected">
                                                    <label class="form-check-input m-0" for="check@(i)"></label>
                                                </td>
                                                <td>@item.NameEn</td>
                                                <td>@item.SpecializationGroup?.NameEn</td>
                                                <td>@item.TypeText</td>
                                                <td>@item.RequiredGradeText</td>
                                                <td>@item.Credit</td>
                                                <input asp-for="@Model.CourseGroup[i].Id" type="hidden">
                                                <input asp-for="@Model.CourseGroup[i].Credit" type="hidden">
                                                <input asp-for="@Model.CourseGroup[i].CurriculumVersionId" type="hidden">
                                                <input asp-for="@Model.CourseGroup[i].DescriptionEn" type="hidden">
                                                <input asp-for="@Model.CourseGroup[i].DescriptionTh" type="hidden">
                                                <input asp-for="@Model.CourseGroup[i].HasChild" type="hidden">
                                                <input asp-for="@Model.CourseGroup[i].NameEn" type="hidden">
                                                <input asp-for="@Model.CourseGroup[i].NameTh" type="hidden">
                                                <input asp-for="@Model.CourseGroup[i].Remark" type="hidden">
                                                <input asp-for="@Model.CourseGroup[i].RequiredGradeId" type="hidden">
                                                <input asp-for="@Model.CourseGroup[i].Sequence" type="hidden">
                                                <input asp-for="@Model.CourseGroup[i].SpecializationGroupId" type="hidden">
                                                <input asp-for="@Model.CourseGroup[i].Type" type="hidden">
                                            </tr>
                                            i++;
                                        } 
                                    }
                                    else
                                    {
                                        <tr>
                                            <td class="text-center" colspan="12">
                                                <i class="text-danger">No Data</i>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="block__action-row">
                        <button type="submit" class="btn btn-mw-120 btn--primary">Save</button>
                        <a class="btn btn-mw-120 btn--cancel mb-0" href="@ViewBag.ReturnUrl">Cancel</a>
                    </div>
                </div>
            </form>
        </div>
    </section>
}

@section Scripts {
    <script>
        CheckList.renderCheckbox('.js-course-group-checklist');
        $(".js-render-nicescroll").niceScroll();
    </script>
}