@model FilterCurriculumVersionGroupViewModel

<div class="row form-group m-b-30 js-render-nicescroll">
    <table id="js-select-curriculum-version" class="table table-bordered m-0 scroll-header">
        <thead class="scroll-header">
            <tr>
                <th class="w-25 text-center">
                    <input id="checkAll" class="js-check-all" type="checkbox">
                    <label for="checkAll"><span class="js-item-count">(0)</span></label>
                </th>
                <th>Curriculum Version</th>                    
                <th>Division</th>
                <th>Major</th>
                <th>Curriculum</th>
            </tr>
        </thead>
        <tbody class="js-items" id="js-items">
            @if (Model != null && Model.CurriculumVersions != null && Model.CurriculumVersions.Any())
            {
                @for (int i = 0; i < Model.CurriculumVersions.Count(); i++)
                {
                    <tr class="js-suggestion-parent">
                        <td class="text-center">
                                <input id="CurriculumVersions[@i]" class="form-check-input" name="CurriculumVersions[@i].IsChecked" type="checkbox" value="@Model.CurriculumVersions[i].IsChecked">
                                <label class="js-focus-item m-0" for="CurriculumVersions[@i]"></label>
                        </td>
                        <td>@Model.CurriculumVersions[i].CodeAndName</td>
                        <td>@Model.CurriculumVersions[i].Faculty</td>
                        <td>@Model.CurriculumVersions[i].Department</td>
                        <td>@Model.CurriculumVersions[i].Curriculum</td>
                        <input asp-for="@Model.CurriculumVersions[@i].FilterCurriculumVersionGroupId" type="hidden">
                        <input asp-for="@Model.CurriculumVersions[@i].FilterCurriculumVersionGroupDetailId" type="hidden">
                        <input asp-for="@Model.CurriculumVersions[@i].CurriculumVersionId" type="hidden">
                        <input asp-for="@Model.CurriculumVersions[@i].NameEn" type="hidden">
                        <input asp-for="@Model.CurriculumVersions[@i].Curriculum" type="hidden">
                        <input asp-for="@Model.CurriculumVersions[@i].Faculty" type="hidden">
                        <input asp-for="@Model.CurriculumVersions[@i].Department" type="hidden">
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td class="text-center" colspan="6">
                        <i class="text-danger text-center">No Data</i>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>