@model PagedResult<PreviousSchool>
@{ 
    ViewData["Title"] = "Previous School";
    var contextPath =  $"{ Context.Request.Path }{ Context.Request.QueryString }";
    var recordNumber = Model?.FirstRowOnPage;
}

<section class="row">
    <div class="ks-page-header col-12">
        <h2 class="ks-page-header__title">@ViewData["Title"]</h2>
        <ul class="d-flex flex-md-row align-items-md-center float-right">
            <li class="list-inline-item mx-3 mb-0">
                <a class='btn btn--primary' asp-action="Create" asp-route-returnUrl="@contextPath">
                    <i class="la la-plus mr-1 font-weight-800"></i> Add Previous School
                </a>
            </li>
        </ul>
    </div>
</section>

<section class="row">
    <div class="col-12">
        <div class="block block--underline">
            <div class="block__body">
                <form class="form-horizontal" asp-controller="PreviousSchool" asp-action="Index" method="GET">
                    @Html.AntiForgeryToken()
                    <div class="row form-group m-b-30">
                        <div class="col-3">
                            <input class="form-control" asp-for="Criteria.Code" type="text">
                            <label>Code</label>
                        </div>
                        <div class="col-3">
                            <input class="form-control" asp-for="Criteria.CodeAndName" type="text">
                            <label>Name</label>
                        </div>
                        <div class="col-3">
                            <select class="chosen-select form-control" data-placeholder="Select"
                                    asp-for="Criteria.SchoolTypeId" asp-items="ViewBag.SchoolTypes">
                                <option selected>Select</option>
                            </select>
                            <label>School Type</label>
                        </div>
                        <div class="col-3">
                            <select class="chosen-select form-control" data-placeholder="Select"
                                    asp-for="Criteria.SchoolTerritoryId" asp-items="ViewBag.SchoolTerritories">
                                <option selected>Select</option>
                            </select>
                            <label>School Region</label>
                        </div>
                    </div>

                    <div class="row form-group m-b-30">
                        <div class="col-3">
                            <select class="chosen-select form-control js-address-cascade" data-placeholder="Select"
                                    asp-for="Criteria.CountryId" asp-items="ViewBag.Countries" data-group="previous-school" data-type="country">
                                <option selected>Select</option>
                            </select>
                            <label>Country</label>
                        </div>
                        <div class="col-3">  
                            <select class="chosen-select form-control js-address-cascade" data-placeholder="Select"
                                    asp-for="Criteria.ProvinceId" asp-items="ViewBag.Province" data-group="previous-school" data-type="province">
                                <option selected>Select</option>
                            </select>
                            <label>Province</label>
                        </div>
                        <div class="col-3">
                            <select class="chosen-select form-control js-address-cascade" data-placeholder="Select"
                                    asp-for="Criteria.StateId" asp-items="ViewBag.States" data-group="previous-school" data-type="state">
                                <option selected>Select</option>
                            </select>
                            <label>State</label>
                        </div>
                        <div class="col-3">
                            <select class="chosen-select form-control js-address-cascade" data-placeholder="Select"
                                    asp-for="Criteria.SchoolGroupId" asp-items="ViewBag.SchoolGroups">
                                <option selected>Select</option>
                            </select>
                            <label>School Group</label>
                        </div>
                    </div>
                    <div class="row form-group mb-0">
                        <div class="col-12 text-right align-self-end">
                            <button class="btn btn--primary btn-mw-120 mb-0 m-r-5" type="submit">
                                <i class="la la-search mr-2"></i>Search
                            </button>
                            <button class="btn btn-mw-120 btn--reset mb-0 js-reset-btn" type="reset">
                                Reset
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

<section class="row">
    <div class="col-12">
        <div class="block block--underline">
            <div class="block__title">
                <header>Search Result (@(Model?.RowCount ?? 0))</header>
            </div>
            
            <div class="block__body">
                <div class="table-responsive">
                    <table class="table table-bordered table-hover w-100x">
                        <thead>
                            <tr>
                                <th class="text-center">#</th>
                                <th class="text-center">Code</th>
                                <th class="text-center">OHEC Code</th>
                                <th>English Name</th>
                                <th>Thai Name</th>
                                <th>Country</th>
                                <th>Province/State</th>
                                <th>School Region</th>
                                <th>School Type</th>
                                <th>School Group</th>
                                <th class="text-center">Status</th>
                                <th class="text-center">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model != null && Model.Results.Any())
                            {
                                foreach (var item in Model.Results) 
                                {
                                    <tr>
                                        <td>@recordNumber</td>
                                        <td>@item.Code</td>
                                        <td>@item.OHECCode</td>
                                        <td>@item.NameEn</td>
                                        <td>@item.NameTh</td>
                                        <td>@item.Country?.NameEn</td>
                                        <td>@(item.Province?.NameEn ?? item.State?.NameEn)</td>
                                        <td>@item.SchoolTerritory?.NameEn</td>
                                        <td>@item.SchoolType?.NameEn</td>
                                        <td>@item.SchoolGroup?.NameEn</td>
                                        <td>
                                            <partial name="_BooleanActive" model="@item.IsActive">
                                        </td>
                                        <td class="text-nowrap td-actions">
                                            <a class="js-preschool-details"
                                               data-toggle="modal"
                                               data-target="#details-previous-school-modal"
                                               data-value="@item.Id">
                                                <i class="la la-info info"></i>
                                            </a>
                                            <a asp-controller="PreviousSchool"
                                               asp-action="Edit"
                                               asp-route-Id="@item.Id"
                                               asp-route-returnUrl="@contextPath">
                                                <i class="la la-edit edit"></i>
                                            </a>
                                            <a data-toggle="modal" 
                                               data-target="#delete-confirm-modal"
                                               data-controller="PreviousSchool"
                                               data-action="Delete"
                                               data-value="@item.Id">
                                                <i class="la la-trash delete"></i>
                                            </a>
                                        </td>
                                    </tr>
                                    recordNumber++;
                                }
                            }
                            else 
                            {
                                <tr>
                                    <td colspan="11">
                                        <i class="text-danger">No Data</i>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        @(await Component.InvokeAsync<PagerViewComponent>(Model))
    </div>
</section>

@section Modals {
    <partial name="_DeleteConfirmModals">
    <partial name="_DetailsModal" model="new PreviousSchool()">
}

@section Scripts {
    <script type="text/javascript" src="~/js/helpers/address-selects-helper.js"></script>
    <script type="text/javascript" src="~/js/pages/previous-school-modal.js"></script>
}