@model PagedResult<SchoolType>
@{
    ViewData["Title"] = "School Type";
    var recordNumber = Model?.FirstRowOnPage;
}

<section class="row">
    <div class="ks-page-header col-12">
        <h2 class="ks-page-header__title">@ViewData["Title"]</h2>
        <ul class="d-flex flex-md-row align-items-md-center float-right">
            <li class="list-inline-item mx-3 mb-0">
                <a class='btn btn--primary' asp-action="Create">
                    <i class="la la-plus mr-1 font-weight-800"></i> Add School Type
                </a>
            </li>
        </ul>
    </div>
</section>

<section>
    <div class="col-12">
        <div class="block block--underline">
            <div class="block__title">
                <header>Search Result (@(Model?.RowCount ?? 0))</header>
            </div>
            
            <div class="block__body">
                <div class="table-responsive">
                    <table class="table table-bordered table-hover w-100x">
                        <thead>
                            <tr>
                                <th class="text-center">#</th>
                                <th class="text-center">Code</th>
                                <th>English Name</th>
                                <th>Thai Name</th>
                                <th class="text-center">Status</th>
                                <th class="text-center">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model.Results.Any())
                            {
                                @foreach (var item in Model.Results) 
                                {
                                    <tr>
                                        <td>@recordNumber</td>
                                        <td>@item.Code</td>
                                        <td>@item.NameEn</td>
                                        <td>@item.NameTh</td>
                                        <td>
                                            <partial name="_BooleanActive" model="@item.IsActive">
                                        </td>
                                        <td class="text-nowrap td-actions">
                                            <a asp-controller="SchoolType" asp-action="Edit" asp-route-Id="@item.Id">
                                                <i class="la la-edit edit"></i>
                                            </a>
                                            <a data-toggle="modal" 
                                               data-target="#delete-confirm-modal" 
                                               data-controller="SchoolType" 
                                               data-action="Delete" 
                                               data-value="@item.Id">
                                                <i class="la la-trash delete"></i>
                                            </a>
                                        </td>
                                    </tr>
                                    recordNumber++;
                                }
                            }
                            else 
                            {
                                <tr>
                                    <td colspan="7">
                                        <i class="text-danger">No Data</i>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        @(await Component.InvokeAsync<PagerViewComponent>(Model))
    </div>
</section>

@section Modals {
    <partial name="_DeleteConfirmModals">
}