@model PagedResult<TermGPAReportViewModel>
@{ 
    ViewData["Title"] = "Term GPA Report";
}

<section class="d-print-none">
    <div class="block block--underline">
        <div class="block__title">
            <header>@ViewData["Title"]</header>
        </div>
        <form class="form-horizontal" asp-controller="TermGPAReport" asp-action="Index" method="GET">
            @Html.AntiForgeryToken()
            <div class="block__body">
                <div class="row form-group">
                    <div class="col-3">
                        <select class="chosen-select form-control js-cascade-academic-level" asp-for="Criteria.AcademicLevelId" asp-items="ViewBag.AcademicLevels">
                            <option selected disabled>Select</option>
                        </select>
                        <label>Academic Level<span class="text-danger">*</span></label>
                    </div>
                    <div class="col-3">
                        <select class="chosen-select form-control js-cascade-term" asp-for="Criteria.TermId" asp-items="ViewBag.Terms">
                            <option selected disabled>Select</option>
                        </select>
                        <label>Term<span class="text-danger">*</span></label>
                    </div>
                    <div class="col-3">
                        <input class="form-control js-check-student-batch" asp-for="Criteria.StartStudentBatch" type="number">
                        <label>Batch From</label>
                    </div>
                    <div class="col-3">
                        <input class="form-control js-check-student-batch" asp-for="Criteria.EndStudentBatch" type="number">
                        <label>Batch To</label>
                    </div>
                </div>

                <div class="row form-group m-b-30">
                    <div class="col-3">
                        <select class="chosen-select form-control js-cascade-faculty" asp-for="Criteria.FacultyId" asp-items="ViewBag.Faculties">
                            <option selected>Select</option>
                        </select>
                        <label>Division</label>
                    </div>
                    <div class="col-3">
                        <select class="chosen-select form-control js-cascade-department" asp-for="Criteria.DepartmentId" asp-items="ViewBag.Departments">
                            <option selected>Select</option>
                        </select>
                        <label>Major</label>
                    </div>
                    <div class="col-3">
                        <select class="chosen-select form-control" asp-for="Criteria.StudentStatus" asp-items="ViewBag.StudentStatuses" data-placeholder="Select"></select>
                        <label>Student Status</label>
                    </div>
                    <div class="col-3">
                        <select class="chosen-select form-control" asp-for="Criteria.StudentTypeId" asp-items="ViewBag.StudentFeeTypes" data-placeholder="Select">
                            <option selected>Select</option>
                        </select>
                        <label>Student Fee Type</label>
                    </div>
                </div>

                <div class="row form-group mb-0">
                    <div class="col-3">
                        <select class="chosen-select form-control" asp-for="Criteria.ResidentTypeId" asp-items="ViewBag.ResidentTypes" data-placeholder="Select">
                            <option selected>Select</option>
                        </select>
                        <label>Resident Type</label>
                    </div>
                    <div class="col-9 align-self-end text-right text-nowrap">
                        <button class="btn btn--primary btn-mw-120 m-r-5" type="submit">
                            <i class="la la-search mr-2"></i>Search
                        </button>
                        <button class="btn btn-mw-120 btn--reset js-reset-btn" type="reset">
                            Reset
                        </button>
                    </div>
                </div>            
            </div>
        </form>
    </div>
</section>

<div class="block block--underline">
    <div class="block__title">
        <div class="row">
            <div>
                <header>Search Result (@(Model?.RowCount ?? 0))</header>
            </div>
        </div>
    </div>

    <div class="block__body table-responsive unset-overflow">
        <div class="table-responsive">
            <table class="table table-bordered m-0 js-report-table w-100x">
                <thead>
                    <tr>
                        <th class="text-center">Student Id</th>
                        <th class="text-center">Title</th>
                        <th>First Name</th>
                        <th>Middle Name</th>
                        <th>Last Name</th>
                        <th class="text-center">Major</th>
                        <th class="text-center">GPA</th>
                        <th class="text-center">CGPA</th>
                        <th class="text-center">Credits Earned</th>
                        <th class="text-center">Type</th>
                        <th class="text-center">Resident</th>
                        <th class="text-center">Student Status</th>
                        <th class="text-center">Detail</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model != null && Model.Results.Any())
                    {
                        foreach (var item in Model.Results) 
                        {
                            <tr>
                                <td>@item.StudentCode</td>
                                <td>@item.Title</td>
                                <td>@item.FirstName</td>
                                <td>@item.MidName</td>
                                <td>@item.LastName</td>
                                <td>@item.DepartmentCode</td>
                                <td>@item.GPAText</td>
                                <td>@item.CummulativeGPAText</td>
                                <td>@item.TotalCreditEarnedText</td>
                                <td>@item.StudentTypeName</td>
                                <td>@item.ResidentTypeName</td>
                                <td>@item.StudentStatus</td>
                                <td>@item.Detail</td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <td class="text-center" colspan="13">
                                <i class="text-danger">No data</i>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>