@model GraduatingRequestViewModel
@{
    var index = 1;
}
<section>
    <div class="block__body">
        <div class="row">
            <div class="col text-nowrap text-right">
                <a id="file-name" hidden></a>
                <input class="table-count" value="@Model.TotalCourseGroup" hidden>
                <input class="worksheet-name" value="@Model.Student.Code" hidden>
                <button class="btn btn-mw-120 btn--primary mb-0 js-export-excel">Export Excel</button>
            </div>
        </div>
    </div>
    <div class="block__body">
        @if (Model != null && Model.CurriculumCourseGroups != null && Model.CurriculumCourseGroups.Any())
        {
            @* var isFirstMinor = true; *@
            <div class="table-responsive">
                <table id="curriculum-export-1" class="table table-bordered table-hover w-100x">
                    <thead>
                        <tr>
                            <th colspan="8" class="text-center" style="text-align: left; background-color: #dee2e6;">Student ID : @Model.Student.Code @Model.Student.FullNameEn (@Model.Student.FullNameTh) Major : @(Model.Student.AcademicInformation.Department?.Abbreviation ?? "-")</th>
                        </tr>
                        <tr>
                            <th colspan="8" class="text-center" style="text-align: left; background-color: #dee2e6;">Nationality : @Model.Student.Nationality.NameEn @Model.Student.StudentFeeType.NameEn Cum-GPA : @Model.Student.AcademicInformation.GPA.ToString(StringFormat.TwoDecimal) Credit Earn : @Model.Student.AcademicInformation.CreditComp</th>
                        </tr>
                        <tr>
                            <th colspan="4" class="text-left" style="text-align: left; background-color: #dee2e6;">@Model.Student.AcademicInformation.CurriculumVersion?.NameEn?.ToUpper()</th>
                            <th colspan="4" class="text-right" style="text-align: right; background-color: #dee2e6;">Total Credit: @Model.Student.AcademicInformation.CurriculumVersion?.TotalCredit  @(@Model.Student.AcademicInformation.CurriculumVersion?.TotalCredit > 1 ? "Credits" : "Credit")</th>
                        </tr>
                        <tr></tr>
                    </thead>
                </table>
                @foreach (var courseGroup in Model.CurriculumCourseGroups)
                {
                    <table id="curriculum-export-@courseGroup.Sequence" class="table table-bordered table-hover w-100x">
                        <thead>
                            @if (courseGroup.SpecializationType == "m" && courseGroup.IsMinor == true)
                            {
                                <tr>
                                    <th colspan="8" style="text-align: left; background-color: #dee2e6;">@courseGroup.SpecializationName</th>
                                </tr>
                                @* isFirstMinor = false; *@
                            } 
                            <tr>
                                <th colspan="4" style="text-align: left; background-color: #dee2e6;">@courseGroup.NameEn?.ToUpper()</th>
                                <th colspan="4" style="text-align: right; background-color: #dee2e6;">Total Credits: @courseGroup.RequiredCreditCompleted @(courseGroup.RequiredCreditCompleted > 1 ? "Credits" : "Credit")</th>
                            </tr>
                            @* <tr style="background-color: #dee2e6;">
                                <td colspan="2">Required Credits Completed: @courseGroup.RequiredCreditCompleted @(courseGroup.RequiredCreditCompleted > 1 ? "Credits" : "Credit")</td>
                                <td colspan="3">Total Credits Completed: @courseGroup.TotalCreditsCompleted @(courseGroup.TotalCreditsCompleted > 1 ? "Credits" : "Credit")</td>
                                <td colspan="3">
                                    @if (courseGroup.IsCompleted)
                                    {
                                        <div class="text-right">
                                            <span>Status:</span>
                                            <span class="ks-label bg-success mx-3 mb-1">Completed</span>
                                        </div>
                                    }
                                    else 
                                    {
                                        <div class="text-right">
                                            <span>Status:</span>
                                            <span class="ks-label bg-danger mx-3 mb-1">Pending</span>
                                        </div>
                                    }
                                </td>
                            </tr> *@
                        </thead>
                        @if (courseGroup.DescriptionEn != "" && courseGroup.DescriptionEn != null)
                        {
                            <tr>
                                <th colspan="8" style="white-space: pre-wrap; text-align: left; background-color: #dee2e6;">@courseGroup.DescriptionEn</th>
                            </tr>
                        }

                        @if (courseGroup.Courses != null && courseGroup.Courses.Any())
                        {
                            <thead>
                                <tr>
                                    <th class="w-150" style="text-align: left; background-color: #dee2e6;">Code</th>
                                    <th style="text-align: left; background-color: #dee2e6;">Name</th>
                                    <th style="text-align: left; background-color: #dee2e6;">Course Equivalent</th>
                                    <th class="w-150" style="text-align: left; background-color: #dee2e6;"> Credit</th>
                                    <th class="w-150" style="text-align: left; background-color: #dee2e6;">Passing Grade</th>
                                    <th class="w-100" style="text-align: left; background-color: #dee2e6;">Grade</th>
                                    <th class="w-150" style="text-align: left; background-color: #dee2e6;">Term</th>
                                    <th style="text-align: left; background-color: #dee2e6;">Remark</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (courseGroup.Courses != null)
                                {
                                    foreach (var course in courseGroup.Courses) 
                                    {
                                        <tr style="border: 1px solid #dee2e6;">
                                            <td>@course.CourseCode</td>
                                            <td>@course.CourseNameEn</td>
                                            <td>@course.CourseEquivalentName</td>
                                            <td>@course.CreditText</td>
                                            <td>@course.RequiredGradeName</td>
                                            <td>
                                                @foreach (var grade in course.Grades)
                                                {
                                                    @if (grade.IsGradePublished)
                                                    {
                                                        <span>@grade.RegisteredGradeName</span><br/>
                                                    }
                                                    else 
                                                    {
                                                        <span class="text-danger">@grade.RegisteredGradeName</span><br/>
                                                    }
                                                }
                                            </td>
                                            <td>
                                                @foreach (var grade in course.Grades)
                                                {
                                                    @if (grade.IsGradePublished)
                                                    {
                                                        <span>@grade.TermText</span><br/>
                                                    }
                                                    else 
                                                    {
                                                        <span class="text-danger">@grade.TermText</span><br/>
                                                    }
                                                }
                                            </td>
                                            <td>@course.Remark</td>
                                        </tr>
                                    }
                                    <tr></tr>
                                }
                                else
                                {
                                    <tr>
                                        <td colspan="7">
                                            <i class="text-danger">No Data</i>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        }
                        else 
                        {
                            <thead>
                                <tr>
                                    <th class="w-150"></th>
                                    <th></th>
                                    <th class="w-150"></th>
                                    <th class="w-150"></th>
                                    <th class="w-100"></th>
                                    <th class="w-100"></th>
                                    <th class="w-150"></th>
                                </tr>
                            </thead>
                        }
                        @* <tfoot>
                            <tr style="background-color: #dee2e6;">
                                <td colspan="2">Required Credits Completed: @courseGroup.RequiredCreditCompleted @(courseGroup.RequiredCreditCompleted > 1 ? "Credits" : "Credit")</td>
                                <td colspan="3">Total Credits Completed: @courseGroup.TotalCreditsCompleted @(courseGroup.TotalCreditsCompleted > 1 ? "Credits" : "Credit")</td>
                                <td colspan="1">
                                    @if (courseGroup.IsCompleted)
                                    {
                                        <div class="text-center">
                                            <span>Status:</span>
                                            <span class="ks-label bg-success mx-3 mb-1">Completed</span>
                                        </div>
                                    }
                                    else 
                                    {
                                        <div class="text-center">
                                            <span>Status:</span>
                                            <span class="ks-label bg-danger mx-3 mb-1">Pending</span>
                                        </div>
                                    }
                                </td>
                            </tr>
                        </tfoot> *@
                    </table>
                    <partial name="_CourseGroupVerification" model="@courseGroup.Children" />
                    index++;
                }
            </div>
        }

        <div class="row">
            <div class="col text-nowrap text-right">
                <a id="file-name" hidden></a>
                <input class="table-count" value="@Model.TotalCourseGroup" hidden>
                <input class="worksheet-name" value="@Model.Student.Code" hidden>
                <button class="btn btn-mw-120 btn--primary mb-0 js-export-excel">Export Excel</button>
            </div>
        </div>
    </div>
</section>