@model PagedResult<FilterCourseGroupViewModel>
@{ 
    ViewData["Title"] = "Filter Course Group";
    var contextPath =  $"{ Context.Request.Path }{ Context.Request.QueryString }";
    var index = Model?.FirstRowOnPage ?? 1;
}

<section class="row">
    <div class="ks-page-header col-12">
        <h2 class="ks-page-header__title">@ViewData["Title"]</h2>
        <ul class="d-flex flex-md-row align-items-md-center float-right">
            <li class="list-inline-item mx-3 mb-0">
                <a class="btn btn--primary" 
                   asp-action="Create"
                   asp-route-returnUrl="@contextPath">
                   <i class="la la-plus mr-1 font-weight-800"></i> Add Filter Course Group
                </a>
            </li>
        </ul>
    </div>
</section>

<section class="d-print-none">
    <div class="block block--underline">
        <div class="block__body">
            <form class="form-horizontal" asp-controller="FilterCourseGroup" asp-action="Index" method="GET"> 
                <div class="row form-group">
                    <div class="col-4">
                        <input class="form-control" asp-for="Criteria.Name" type="text">
                        <label>Group Name</label>
                    </div>
                    <div class="col-8 text-right align-self-end text-nowrap">
                        <button class="btn btn--primary btn-mw-120 mb-0 m-r-5" type="submit">
                            <i class="la la-search mr-2"></i>Search
                        </button>
                        <a id="js-reset-btn" class="btn btn-mw-120 btn--reset" asp-action="Index">Reset</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>

<section class="row">
    <div class="col-12">
        <div class="block block--underline">
            <div class="block__title">
                <header>Search Result (@(Model?.RowCount ?? 0))</header>
            </div>
            <div class="block__body">
                <div class="table-responsive">
                    <table class="table table-bordered table-hover w-100x m-0">
                        <thead>
                            <tr>
                                <th class="text-center w-75">#</th>
                                <th>Group</th>
                                <th class="text-center w-100">Courses</th>
                                <th class="text-nowarp text-center no-sort w-100">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model != null && Model.Results.Any())
                            {
                                foreach (var item in Model.Results)
                                {
                                    <tr>
                                        <td rowspan="2">@index</td>
                                        <td>@item.Name</td>
                                        <td>@item.CourseCount</td>
                                        <td rowspan="2" class="text-nowrap td-actions">
                                            <a asp-controller="FilterCourseGroup"
                                               asp-action="Edit"
                                               asp-route-Id="@item.Id"
                                               asp-route-returnUrl="@contextPath"
                                               title="Edit">
                                                <i class="la la-edit edit"></i>
                                            </a>
                                            <a data-toggle="modal" 
                                               data-target="#delete-confirm-modal"
                                               asp-controller="FilterCourseGroup"
                                               asp-action="Delete"
                                               asp-route-id="@item.Id"
                                               asp-route-returnUrl="@contextPath"
                                               title="Delete">
                                                <i class="la la-trash delete"></i>
                                            </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="2">
                                            <span class="text-left form-control-plaintext">
                                                Description : @item.Description
                                            </span>
                                        </td>
                                    </tr>
                                    index++;
                                }
                            }
                            else
                            {
                                <tr>
                                    <td colspan="4">
                                        <i class="text-danger">No Data</i>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
            @(await Component.InvokeAsync<PagerViewComponent>(Model))
        </div>
    </div>
</section>

@section Modals {
    <partial name="_DeleteConfirmModals">
}