@model FinalExaminationSubmissionViewModel
@{ 
    ViewData["Title"] = "Grade Submission Report";
    var index = 1;
}

<section class="d-print-none">
    <div class="block block--underline">
        <div class="block__title">
            <header>@ViewData["Title"]</header>
        </div>
        <form class="form-horizontal" asp-controller="FinalExaminationSubmission" asp-action="Index" method="GET">
            @Html.AntiForgeryToken()
            <div class="block__body">
                <div class="row form-group">
                    <div class="col-3">
                        <select class="chosen-select form-control js-cascade-academic-level" asp-for="Criteria.AcademicLevelId" asp-items="ViewBag.AcademicLevels">
                            <option selected disabled>Select</option>
                        </select>
                        <label>Academic Level<span class="text-danger">*</span></label>
                    </div>
                    <div class="col-3">
                        <select class="chosen-select form-control js-cascade-term" asp-for="Criteria.TermId" asp-items="ViewBag.Terms">
                            <option selected disabled>Select</option>
                        </select>
                        <label>Term<span class="text-danger">*</span></label>
                    </div>
                    <div class="col-3">
                        <select class="chosen-select form-control js-cascade-faculty" asp-for="Criteria.FacultyId" asp-items="ViewBag.Faculties">
                            <option selected value="">Select</option>
                        </select>
                        <label>Division</label>
                    </div>
                    <div class="col-3">
                        <select class="chosen-select form-control js-cascade-department" asp-for="Criteria.DepartmentId" asp-items="ViewBag.Departments">
                            <option selected value="">Select</option>
                        </select>
                        <label>Major</label>
                    </div>
                </div>

                <div class="row form-group">
                    <div class="col-3">
                        <select class="chosen-select form-control" asp-for="Criteria.InstructorId" asp-items="ViewBag.Instructors">
                            <option selected value="">Select</option>
                        </select>
                        <label>Instructor</label>
                    </div>
                    <div class="col-3">
                        <input class="form-control" asp-for="Criteria.CourseName" type="text">
                        <label>Course</label>
                    </div>
                    <div class="col-3 align-self-end">
                        <input id="IsWaiting" class="form-check-input" asp-for="Criteria.IsWaitingToSubmit" type="checkbox">
                        <label for="IsWaiting">Waiting to submit</label>
                    </div>
                    <div class="col-3 align-self-end text-right text-nowrap">
                        <button class="btn btn--primary btn-mw-120 m-r-5" type="submit">
                            <i class="la la-search mr-2"></i>Search
                        </button>
                        <button class="btn btn-mw-120 btn--reset js-reset-btn" type="reset">
                            Reset
                        </button>
                    </div>
                </div>            
            </div>
        </form>
    </div>
</section>

<section class="row">
    <div class="col-12">
        <div class="block block--underline">
            <div class="block__title">
                <header>Search Result (@(Model?.Results?.Count() ?? 0))</header>
            </div>

            <div class="block__body">
                <div class="table-responsive">
                    <table class="table table-bordered table-hover js-report-table w-100x">
                        <thead>
                            <tr>
                                <th class="text-center w-25">#</th>
                                <th>Division</th>
                                <th>Course</th>
                                <th class="text-center">Section</th>
                                <th class="w-100">Joint</th>
                                <th class="text-center w-100">Grade Entered</th>
                                <th class="text-center w-100">Published</th>
                                @* <th class="text-center">Withdraw Student</th> *@
                                <th class="text-center w-100">Registered Student</th>
                                <th class="text-center">Final Exam</th>
                                <th class="text-center">Approved</th>
                                <th class="text-center">Submission</th>
                                <th class="text-center">Due Date</th>
                                <th class="text-center">Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model != null && Model.Results != null && Model.Results.Any())
                            {
                                foreach (var item in Model.Results) 
                                {
                                    <tr>
                                        <td>@index</td>
                                        <td>@item.FacultyNameEn</td>
                                        <td>
                                            <b>@item.CourseCodeAndCredit</b><br>
                                            <b>@item.CourseName</b><br>
                                            @item.InstructorFullNameEn
                                        </td>
                                        <td>
                                            @item.SectionNumber<br>
                                            @item.SectionTypes
                                        </td>
                                        <td>@item.JointSections</td>
                                        <td>@item.GradeEnteredStudent</td>
                                        <td>@item.PublishedStudent</td>
                                        @* <td>@item.WithdrawStudent</td> *@
                                        <td>@item.RegisteredStudent</td>
                                        <td>@item.FinalDateText</td>
                                        <td>@item.ApprovedAtText</td>
                                        <td>@item.SubmissionAtText</td>
                                        <td>@item.DueAtText</td>
                                        <td class="@(item.IsPending ? "text-warning" : item.IsOntime ? "text-success" : "text-danger")">@item.StatusText</td>
                                    </tr>
                                    ++index;
                                }
                            }
                            else
                            {
                                <tr>
                                    <td colspan="13">
                                        <i class="text-danger">No Data</i>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>